/* PRELOADER */

@keyframes emblemPath1 {
	from {
		transform: rotateZ(0deg);
	}
	to {
		transform: rotateZ(360deg);
	}
}

@keyframes emblemPath2 {
	from {
		transform: rotateZ(360deg);
	}
	to {
		transform: rotateZ(0deg);
	}
}

/* PRELOADER END */

/* scrollup btn */
@keyframes arrowGoBrrBackwards {
	0% {
		transform: translate(-50%, -50%);
	}
	40% {
		transform: translate(-50%, -150%);
	}
	45% {
		transform: translate(-150%, -150%);
	}
	50% {
		transform: translate(-150%, 150%);
	}
	60% {
		transform: translate(-50%, 150%);
	}
	100% {
		transform: translate(-50%, -50%);
	}
}

/* index skip btn */
@keyframes arrowGoBrr {
	0% {
		transform: translate(-50%, -50%);
	}
	40% {
		transform: translate(-50%, 150%);
	}
	45% {
		transform: translate(-150%, 150%);
	}
	50% {
		transform: translate(-150%, -150%);
	}
	60% {
		transform: translate(-50%, -150%);
	}
	100% {
		transform: translate(-50%, -50%);
	}
}

@keyframes kontaktButtonIcon {
	from {
		display: none;
		left: -50px;
	}
	to {
		display: block;
		left: 0;
	}
}

@keyframes floatingElm {
	0% {
		transform: translateY(0);
	}
	20% {
		transform: translateY(-10px);
	}
	50% {
		transform: translateY(0px);
	}
	70% {
		transform: translateY(-10px);
	}
	100% {
		transform: translateY(0);
	}
}

/* MOBILE NAV MENU */

@keyframes menuTop {
  0% {
    top: 0;
    transform: rotate(0);
  }
  50% {
    top: 22px;
    transform: rotate(0);
  }
  100% {
    top: 22px;
    transform: rotate(45deg);
  }
}

@keyframes menuTop-2 {
  0% {
    top: 22px;
    transform: rotate(45deg);
  }
  50% {
    top: 22px;
    transform: rotate(0deg);
  }
  100% {
    top: 0;
    transform: rotate(0deg);
  }
}

@keyframes menuBottom {
  0% {
    bottom: 0;
    transform: rotate(0);
  }
  50% {
    bottom: 22px;
    transform: rotate(0);
  }
  100% {
    bottom: 22px;
    transform: rotate(135deg);
  }
}

@keyframes menuBottom-2 {
  0% {
    bottom: 22px;
    transform: rotate(135deg);
  }
  50% {
    bottom: 22px;
    transform: rotate(0);
  }
  100% {
    bottom: 0;
    transform: rotate(0);
  }
}

@keyframes menuScaled {
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes menuScaled-2 {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

/* MOBILE NAV MENU END */