/* PRELOADER */

@keyframes emblemPath1 {
	from {
		transform: rotateZ(0deg);
	}
	to {
		transform: rotateZ(360deg);
	}
}

@keyframes emblemPath2 {
	from {
		transform: rotateZ(360deg);
	}
	to {
		transform: rotateZ(0deg);
	}
}

/* PRELOADER END */

/* scrollup btn */
@keyframes arrowGoBrrBackwards {
	0% {
		transform: translate(-50%, -50%);
	}
	40% {
		transform: translate(-50%, -150%);
	}
	45% {
		transform: translate(-150%, -150%);
	}
	50% {
		transform: translate(-150%, 150%);
	}
	60% {
		transform: translate(-50%, 150%);
	}
	100% {
		transform: translate(-50%, -50%);
	}
}

/* index skip btn */
@keyframes arrowGoBrr {
	0% {
		transform: translate(-50%, -50%);
	}
	40% {
		transform: translate(-50%, 150%);
	}
	45% {
		transform: translate(-150%, 150%);
	}
	50% {
		transform: translate(-150%, -150%);
	}
	60% {
		transform: translate(-50%, -150%);
	}
	100% {
		transform: translate(-50%, -50%);
	}
}

@keyframes kontaktButtonIcon {
	from {
		display: none;
		left: -50px;
	}
	to {
		display: block;
		left: 0;
	}
}

/* success checkmark form */

@keyframes checkmark-stroke {
	100% {
		stroke-dashoffset: 0;
	}
}

@keyframes checkmark-scale {
	0%,
	100% {
		transform: none;
	}
	50% {
		transform: scale3d(1.1, 1.1, 1);
	}
}

@keyframes checkmark-fill {
	100% {
		box-shadow: inset 0px 0px 0px 30px #4508bd;
	}
}
