/*! NAV !*/

navbar-wrapper {
	top: 0px;
	z-index: 99999;
	position: fixed !important;
	display: flex;
	flex-direction: row !important;
	justify-content: left !important;
	padding: 0px 0% 0px 40px;
	align-items: center;
	background-color: transparent;
	height: 80px;
	border-radius: 10px;
	width: calc(100vw - 45px) !important;
	transition-duration: 0.3s;
	margin-bottom: 85px;
}

.nav-set {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
.nav-links li {
	display: inline;
	list-style-type: none;
	padding: 5px 15px 5px 15px;
}
.nav-links a {
	color: white !important;
	transition-duration: 0.3s;
	font-weight: 600;
}

.nav-actions {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	gap: 10px;
	padding-left: 15px;
}

/* not done down there*/

.burger-menu {
	display: none;
	cursor: pointer;
}
.slider {
	display: block;
	position: absolute;
	right: -50px;
	top: 85px;
}
.burger-menu > .line {
	height: 2px;
	width: 25px;
	background-color: white;
	margin: 5px;
}
.nav-links-slider {
	display: none;
}
.nav-links-slider > ul > li {
	list-style: none;
}
.logo {
	padding: 5px;
}

.logo > img {
	height: 40px;
	width: auto;
}

.whited {
	background-color: white !important;
	filter: drop-shadow(0px 10px 10px #0000004b);
	border-radius: 10px;
	margin: 15px;
}
.whited > .nav-set > .nav-links > ul > li > a {
	color: var(--violet) !important;
}

/*! NAV END!*/
