<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Orexin Solutions</title>

		<link rel="shortcut icon" href="<%= require('./img/emblem-gradient.png') %>" type="image/x-icon" />
	</head>
	<body>
		<!-- NAV -->
		<nav class="columns">
			<a href="./index.html" class="column is-1"><img src="<%= require('./img/emblem-white-sm.png') %>" alt="logo" /></a>
			<a href="./index.html" class="column is-1"><div>Úvod</div></a>
			<a href="./about.html" class="column is-1"><div>O nás</div></a>
			<a href="./services.html" class="column is-1"><div>Služby</div></a>
			<a href="./contact.html" class="kontakt-container column is-1 is-offset-7">
				<div>Kontakt</div>
			</a>
		</nav>
		<!-- HERO -->
		<section class="contact-hero">
			<div class="contact-hero text">
				<div class="column is-two-fifths">
					<h1>Kontaktujte nás</h1>
					<p>Lorem impsum blah<br />jou jou</p>
				</div>
			</div>
			<div class="contact-hero socials">
				<div class="column is-two-fifths">
					<a href="https://www.facebook.com/OrexinEcontech" target="_blank"><span class="typcn typcn-social-facebook-circular"></span></a>
					<a href="https://www.instagram.com/orexin_econtech" target="_blank"><span class="typcn typcn-social-instagram-circular"></span></a>
					<a href="https://twitter.com/EcontechOrexin" target="_blank"><span class="typcn typcn-social-twitter-circular"></span></a>
					<a href="https://github.com/Orexin" target="_blank"><span class="typcn typcn-social-github-circular"></span></a>
				</div>
			</div>
		</section>
		<!-- FOOTER -->
		<footer></footer>
	</body>
</html>
