@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
	--orexin-blue: #43D5FA;
	--orexin-red: #FF5757;
	--text: #222222;
	--link: #288096;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    color: var(--text);
}

html {
    scroll-behavior: smooth;
}

body{
    
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto Slab', sans-serif;
}

h1 {
    text-align: center;
    padding: 75px 0px 75px 0px;
    font-size: 75px;
}

p {
    text-align: justify;
    font-size: 20px;
}

a {
    color: var(--link);
	text-decoration: none;
	transition: color .3s ease-in-out;
}

a:hover {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

a:visited {
    color: white;
    text-decoration: none;
}

footer {
    background-color: var(--orexin-red);
    padding: 20px 0;
    text-align: center;
    position: absolute;
    z-index: 998;
    width: 100%;
}

footer p {
    font-size: 25px;
    text-align: center;
    margin: 0;
    padding: 0;
}

/** NAV */

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: appropriate;
    background-color: appropriate;
    font-size: appropriate;
    z-index: 999;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

nav ul li {
    float:right;
    list-style: none;
    position: relative;
}

nav ul li a {
    display: block;
    padding: appropriate;
}

nav ul li ul {
    display: none;
    position: absolute;
    padding: 0px;
}

nav ul li:hover > ul{
    display: block;
    transition: all .5s ease-in-out;
}

nav ul li ul li ul li {
    width: appropriate;
}

nav ul li ul li {
    text-align: center;
}

/** INDEX */
.welcome {
	background: var(--orexin-blue);
	height: 95vh;
}

.welcome-img {
	width: max-content;
}

.welcome-img img {
	width: 500px;
}

.welcome-text {
	padding-left: 20%;
}

.welcome-text h1 {
	font-size: 40px;
	text-align: left;
	padding: 0 0 20px;
	margin: 0;
	font-weight: 700;
}

.welcome-text span {
	font-size: 25px;
	padding: 0;
	margin: 0;
	font-weight: 600;
}

/** WEBKIT SCROLLBAR */

::selection {
    color: black;
    background: appropriate;
}

::-moz-selection { 
    color: black;
    background: var(--orexin-blue);
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px appropriate; 
}

::-webkit-scrollbar-thumb {
    background: appropriate; 
}

::-webkit-scrollbar-thumb:hover {
    background: appropriate; 
}

/** RESPO */

/*? idk man not sure 'bout this */

/* 9.1 XS (<576px) */
@media only screen and (max-width: 576px) {}

/* 9.2 SM (>=576px) */
@media only screen and (min-width: 576px) {}

/* 9.3 MD (>=768px) */
@media only screen and (min-width: 768px) {}

/* 9.4 LG (>=992px) */
@media only screen and (min-width: 992px) {}

/* 9.5 EL (>=1200px) */
@media only screen and (min-width: 1140px) {}