/*! ABOUT! */

svg {
	position: relative;
	max-width: 100%;
	height: 100%;
}

.text p, .m-box p {
	font-size: 20px !important;
}

/* ABT-LANDING */

.abt-landing {
	display: flex;
	flex-direction: column;
	background-color: var(--violet-darker);
}
.abt-main {
	height: 90vh;
	/*debug*/
}
.abt-action {
	height: 10vh;
	text-align: center;
}

.abt-content {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}
.abt-item {
	width: 50% !important;
	height: 100vh !important;

	display: flex;
	flex-direction: column;
	justify-content: center;
}

.abt-text > .smol {
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-weight: 800;
	font-size: 20px;
}
.abt-text > h3 {
	font-size: 40px;
	font-weight: 800;
}

/* ABT-LANDING END*/

/* BRAIN */

#brain {
	position: relative;
	padding-top: 30px;
}

#brain > .brain-row  {
	display: flex;
	flex-direction: row;
}

#brain > .brain-row:nth-child(2) {
	justify-content: center;
	align-items: center;
}

#brain > .brain-row  > div {
	display: flex;
	flex-direction: column;
}

#brain > .brain-row:nth-child(2) > div {
	justify-content: center;
	align-items: center;
}

#brain > .brain-row  > .header > h2 {
	color: var(--violet);
}

.m-box {
	width: 400px !important;
	margin: 25px;
	text-align: justify;
}
.m-box h6 {
	color: var(--violet);
	font-size: 25px;
	font-weight: 800;
}

#longerBox {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.m-box p {
	color: var(--violet);
	margin: 10px;
}

/* BRAIN END */

/* WE-ARE-OREXIN */

#we-are-orexin {
	height: 100vh !important;
	padding: 50px;
	background: var(--violet-dark);
}
#we-are-orexin div > .header {
	text-align: center;
}
#we-are-orexin div > .header > h2 {
	font-size: 30px;
	margin: 0;
}
#we-are-orexin div > .header > p {
	color: var(--text-gray);
}

/* WE-ARE-OREXIN END */

/* EDUCATION */

#education {
	position: relative;
	padding: 50px;
}

#education > .header {
	text-align: center;
}

#education > .header > h2 {
	font-size: 30px;
	color: var(--violet);
	margin: 0;
}

#education > .header > p {
	color: var(--text-gray);
}

#education > div > .text > div > p {
	color: var(--violet);
	margin-left: 15px;
}

#education > div > .text > div {
	padding: 30px;
	border-radius: 15px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#svg-education {
	max-height: 750px;
	width: 100%;
}

/* EDUCATION END */

/* TECHSTACK */

.svg-techstack-elements:hover {
	cursor: pointer;
}

#techstack {
	position: relative;
	padding: 50px;
	background: var(--violet-darker);
}

#techstack > div > .header {
	margin-bottom: 50px !important;
}

#techstack > .header > h2 {
	font-size: 30px;
	margin: 0;
}

#techstack > .header > p {
	color: var(--text-gray);
}

/* TECHSTACK END */

/* CLIENTS */

#clients {
	height: 60vh;
	padding: 50px;
}
#clients > .header {
	text-align: center;
}
#clients > .header > h2 {
	font-size: 30px;
	color: var(--violet);
	margin: 0;
}
#clients > .header > p {
	color: var(--text-gray);
}

/* CLIENTS END */

#scnd {
	font-weight: 700;
}

/* OLD VANTYHO CODE */

/*! STORY!
#story {
	width: 100%;
	background: var(--violet-dark);
}

#story-title div {
	margin: 7vh 0 2vh 1.5vh;
}

#story-title div h2 {
	color: #fff;
	font-size: 40px;
	font-weight: 900;
}

#story-title div p {
	font-size: 20px;
	color: #fff;
}

.splide-about {
	max-width: 100%;
	max-height: 100%;
}

.splide-about div ul li img {
	display: block;
	width: 100vw;
	height: 76vh;
	position: relative;
}

.splide__slide-about-1 h2 {
	position: absolute;
	top: 0;
	font-size: 35px;
	font-weight: 900;
	margin: 3vh 0 1vh 7vh;
	line-height: 40px;
}

.splide__slide-about-1 h3 {
	position: absolute;
	top: 15vh;
	font-size: 25px;
	margin: 4vh 0 1vh 7vh;
	line-height: 30px;
}
/*! STORY END!

/*! TECHNOLOGIE !

#technologie {
	background: var(--violet-dark);
	overflow: hidden;
}

#technologie-title {
	transform: rotateZ(-45deg);
	display: inline-block;
	margin-bottom: 11vh;
}

#technologie-title div h2 {
	font-size: 50px;
	font-weight: 900;
	text-align: center;
	transform: translateY(15vh) translateX(-15vh);
}

.technologie-presentation-column {
	margin-left: -39vw;
}

.technologie-presentation-container {
	background: #fff;
	display: flex;
	flex-direction: row;
	overflow: hidden;
	position: absolute;
}

.second-row {
	margin-right: 10vh;
	margin-top: 10vh;
}

.technologie-presentation-container div {
	margin: 2vh 5vh 2vh 0vh;
	display: flex;
	flex-direction: column;
	position: relative;
	z-index: -10;
}

.technologie-presentation-container div img {
	max-height: 100%;
	max-width: 75px;
	position: relative;
	z-index: 10000000;
}

.technologie-presentation-container > div > img:hover {
	cursor: pointer;
}

/* .technologie-presentation-container-1 {
	margin-top: 7vw !important;
	margin-right: 8vw !important;
}
 
.technologie-presentation-column div {
	position: relative;
	transform: rotateZ(-45deg);
	z-index: 2;
}

.technologie-presentation-shape-1,
.technologie-presentation-shape-2,
.technologie-presentation-shape-3 {
	margin: 0 !important;
	width: 30vw;
	height: 100%;
	position: absolute;
}

.technologie-presentation-shape-1 {
	background: var(--violet-light);
	transform: skew(-45deg);
	position: absolute;
	margin-top: -22.25vh !important;
	margin-left: -79vh !important;
}

.technologie-presentation-shape-2 {
	background: var(--violet);
	transform: skew(-22.5deg);
	margin-top: -22.25vh !important;
	margin-left: -49vh !important;
}

.technologie-presentation-shape-3 {
	background: var(--violet-dark);
	margin-left: 5vh;
	margin-top: -22.25vh !important;
	margin-left: -19vh !important;
}

.third-row {
	top: -10vh;
	left: 10vh;
	position: absolute;
}

.first-row div img,
.third-row div img {
	animation: technologiePresentationUp 30s linear infinite;
}

.second-row div img {
	animation: technologiePresentationDown 30s linear infinite;
}

#technologie-presentation div div div img {
	position: relative;
	z-index: 1000;
}

.technologie-desc-container {
	position: relative;
	z-index: 2;
	background: var(--violet-dark);
}

#technologie-desc {
	display: flex;
	flex-direction: row;
	float: right;
}

.technologie-desc-column {
	display: flex;
	flex-direction: column;
}

.technologie-desc-column div img,
.technologie-desc-column div h2,
.technologie-desc-column div p {
	display: flex;
	flex-direction: column;
	position: relative;
}

.technologie-desc-column div h2 {
	float: left;
	font-size: 40px;
	font-weight: 900;
}

.technologie-desc-column div p {
	font-size: 19px;
	line-height: 24px;
}
/*! TECHNOLOGIE END!*/

/*OLD VANTYHO CODE END*/

/*! ABOUT END!*/
