/*! ABOUT! */

svg {
	position: relative;
	max-width: 100%;
	height: 100%;
}

/* ABT-LANDING */

#svg-assembly {
	max-height: 700px;
	width: 100%;
}

.abt-landing {
	display: flex;
	flex-direction: column;
	background-color: var(--violet-darker);
}
.abt-main {
	height: 90vh;
	/*debug*/
}
.abt-action {
	height: 10vh;
	text-align: center;
	z-index: 1000;
}

.abt-content {
	flex-wrap: nowrap;
}

.abt-item {
	width: 50% !important;
	height: 100vh !important;
}

.abt-text {
	justify-content: center;
}

.abt-text > .smol {
	font-size: 20px;
}
.abt-text > span {
	font-size: 40px;
}

.abt-text * {
	font-weight: 800;
	color: white;
	text-align: left;

}

/* ABT-LANDING END*/

/* BRAIN */

#brain {
	position: relative;
	padding-top: 30px;
	padding-bottom: 60px;
}

#brain > .row {
	margin-top: 45px;
}

#brain > .row > .col:nth-child(1) {
	width: 700px;
	margin-right: 80px;
}

#svg-brain {
	max-height: 650px;
	width: 100%;
}

#brain > .row > .col:nth-child(2) {
	justify-content: center;
	width: 50%;
}

#brain > .row > .col:nth-child(2) * {
	color: var(--violet);
	margin: 10px;
}

/* BRAIN END */

/* WE-ARE-OREXIN */

#we-are-orexin {
	padding: 60px;
	background: var(--violet-dark);
}
#we-are-orexin div > .header {
	text-align: center;
}
#we-are-orexin div > .header > h1 {
	text-align: center;
}

#we-are-orexin div > .header > p {
	color: var(--text-gray);
}

#we-are-orexin > .container > .row > {
	margin: 20px;
}

#we-are-orexin > .container > .row > .col {
	margin: 20px;
}

#we-are-orexin > .container > .row > .col > div {
	height: 350px;
	max-width: 100%;
	margin: 30px auto;
}

#we-are-orexin h3 {
	text-align: center;
}

/* WE-ARE-OREXIN END */

/* EDUCATION */

#education {
	position: relative;
	padding: 50px;
}

#education > .row > .col:nth-child(1) {
	margin-right: 80px;
}

#svg-education {
	max-height: 650px;
	width: 100%;
}

#education > .row > .col:nth-child(2) {
	justify-content: center;
}

#education > .row > .col:nth-child(2) * {
	color: var(--violet);
	margin: 10px;
}

/* EDUCATION END */

/* TECHSTACK */

.svg-techstack-elements:hover {
	cursor: pointer;
}

#techstack {
	position: relative;
	padding: 50px;
	background: var(--violet-darker);
}

#techstack > div > .header {
	margin-bottom: 50px !important;
}

#techstack > .header > h2 {
	font-size: 30px;
	margin: 0;
}

#techstack > .header > p {
	color: var(--text-gray);
}

/* TECHSTACK END */

/* CLIENTS */

#clients {
	height: 60vh;
	padding: 50px;
}
#clients > .header {
	text-align: center;
}
#clients > .header > h2 {
	font-size: 30px;
	color: var(--violet);
	margin: 0;
}
#clients > .header > p {
	color: var(--text-gray);
}

/* CLIENTS END */

#scnd {
	font-weight: 700;
}

/* RESPO */

@media only screen and (max-height: 768px) {
	#svg-assembly {
		max-height: 500px;
		width: 100%;
	}
}

/* RESPO END */