.article {
	margin-top: 80px;
	margin-bottom: 150px;
}

.article p,
.article span,
.article h2,
.article h3,
.article h4,
.article li {
	color: #02044a;
}

/* aby nadpis byl vedle čísla */
.article h2,
.article h3 {
	display: inline;
}

/* pro odkazy v textu */
.article a {
	color: var(--violet-dark);
}
.article a:hover {
	color: var(--violet);
}

.article p {
	text-align: justify;
	padding-left: 20px;
}

.article h2,
.ol-lvl-1 li::before {
	font-size: 25px;
	font-weight: 700;
}

.article h3 {
	font-size: 25px;
	font-weight: 600;
}

.article h3,
.ol-lvl-2 li::before {
	font-size: 22px;
	font-weight: 500;
}

.article h4 {
	font-size: 16px;
}

.article ol {
	counter-reset: item;
}

.article ol > li {
	display: block;
	list-style: none;
	padding: 10px 0 10px 20px;
}

.article ol > li::before {
	content: counters(item, '.') '.';
	counter-increment: item;
}

.article ul {
	margin: 0 0 0 40px;
}

.article article ul > li {
	list-style: circle;
	padding: 5px 0;
}

.article-contents {
	padding-bottom: 80px;
}

.article-contents a,
.article-contents li {
	color: #02044a;
	font-size: 16px;
	padding: 0;
}

.article-contents a:hover {
	color: var(--violet-dark);
}

.downloads {
	padding-left: 20px;
}

.downloads li {
	list-style: none;
}

.downloads h2 {
	display: block;
}

.downloads img {
	height: 20px;
}
