.article * {
	color: var(--violet-dark);
}

ol {
	counter-reset: item;
}

li {
	list-style: decimal;
	display: block;
	font-size: 40px;
	font-weight: 700;
}

li:before {
	content: counters(item, '.') '.';
	counter-increment: item;
}

.article div ol li ol li {
	font-size: 35px;
	font-weight: 600;
}

.article div ol li ol li h3 {
	font-weight: 600;
}

.article div ol li ol li * {
	font-weight: 400;
}

.article div ol li ol li {
	margin-left: 15px;
}

.article div ol li ol li p {
	margin-left: 25px;
}

h2,
h3 {
	display: inline-block;
}

p {
	font-size: 20px;
}
