/* #blog-content .row {
	justify-content: left;
	width: 750px;
} */

#blog-content div div div span {
	font-size: 16px;
	color: var(--text-gray);

}

#blog-content div div img,  #blog-content div div video {
	max-height: 100%;
	width: 500px;
}

#blog-nav {
	width: 475px;
/* 	position: fixed; */
	justify-content: right;
	right: 0;
}

#blog-nav .row {
	justify-content: right;
	line-height: 1;
}

#blog-nav .row a {
	font-weight: 700;
}

#blog-nav .socials {
	margin-top: 0;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	gap: 5px;
}

#blog-nav .socials > a {
	font-size: 35px;
	width: 25px;
	justify-content: center;
	text-align: center;
	align-items: center;
}

#blog-nav .socials > a > span{
	justify-content: center;
	text-align: center;
	align-items: center;
}