/* contact.css */

#contact {
	background-color: #f0e9fe;
}

.btn {
	padding: 7px 25px;
	color: white;
	font-weight: 600;
	font-size: 16px;
	border-radius: 20px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	transition: all 0.3s ease-in-out;
	border: none;
	background-color: var(--purple);
}

.contact-hero {
	background: url(./../img/hero.webp) center no-repeat;
	background-size: cover;
}

.contact-hero.text {
	background: none;
	padding: 120px 0 0 0;
}

.contact-hero.text h1 {
	font-size: 40px;
	font-weight: 500;
}

.contact-hero.text p {
	font-size: 30px;
}

.contact-hero.socials {
	background: none;
	padding: 0 0 45px 0;
}

.contact-hero.socials span {
	font-size: 45px;
}

.contact-hero.socials > .column {
	margin-left: -7px;
}

.contact {
	min-height: 100vh;
	box-shadow: 0 -10px 20px rgba(0, 0, 0, 0.19), 0 -6px 6px rgba(0, 0, 0, 0.23);
}

.contact-left * {
	color: var(--text-dark);
}

.contact-left-text {
	margin-top: 80px;
}

.contact-left-text h2 {
	font-weight: 600;
	margin-left: 30px;
}

.timeline {
	list-style-type: none;
	position: relative;
	margin-right: 45px;
	margin-top: 40px;
}

.timeline:before {
	content: ' ';
	background: #d4d9df;
	display: inline-block;
	position: absolute;
	left: 9px;
	width: 2px;
	height: 100%;
	z-index: 400;
}

.timeline > li {
	margin: 0;
	padding: 0;
}

.timeline > li:before {
	content: ' ';
	background: white;
	display: inline-block;
	position: absolute;
	border-radius: 50%;
	border: 3px solid #22c0e8;
	left: 0;
	width: 20px;
	height: 20px;
	z-index: 400;
}

.timeline h5 {
	margin-left: 30px;
	font-size: 18px;
}

.timeline p {
	font-size: 14px;
	margin-left: 30px;
}

.contact-form {
	width: 85%;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
	border-radius: 30px;
	transition: all 0.5s;
}

.contact-form:hover {
	transform: translateY(-154px);
}

.contact-form-header {
	background-color: #f0e9fe;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	padding: 30px;
}

.contact-form-header-icon {
	height: min-content;
}

.contact-form-header-icon > span {
	font-size: 55px;
	color: var(--text-light);
	background: var(--violet-darker);
	border-radius: 5px;
	padding: 0 10px;
}

.contact-form-header-icon > span::before {
	vertical-align: 0.125em;
	transform: scale(1.2);
	line-height: 0.8;
}

.contact-form-header-text {
	padding-left: 23px;
}

.contact-form-header-text > span,
.contact-form-header-text > span > b {
	font-size: 20px;
	color: var(--text-dark);
}

.contact-form-body {
	background: #f8f4fe;
	border-bottom-right-radius: 30px;
	border-bottom-left-radius: 30px;
	transition: all 0.5s;
}

.contact-form-body:hover {
	background-color: var(--violet-dark);
}

.contact-form-body:hover ~ .contact-form-body label,
.contact-form-body:hover ~ .contact-form-body p,
.contact-form-body:hover ~ .contact-form-body h4 {
	color: #f0e9fe;
}

.contact-form-body label,
.contact-form-body p,
.contact-form-body h4 {
	color: var(--text-dark);
}

.contact-form-body h4 {
}

.contact-form-body .form-group {
	position: relative;
}

.contact-form-body label.lbl-float {
	left: 8px;
	position: absolute;
	top: 0;
	opacity: 0;
	transition: all 200ms;
}

.contact-form-body input[type='text'],
.contact-form-body textarea {
	color: var(--text-dark);
	background-color: #f8f4fe;
	border: 1px solid var(--violet);
	border-radius: 20px;
	padding: 7px;
	transition: all 0.3s ease-in-out;
	outline: none;
}

.contact-form-body input[type='text']:focus,
.contact-form-body textarea:focus {
	box-shadow: 0 0 5px rgba(92, 9, 255, 1);
}

.contact-form-body input[type='text']::placeholder {
	color: #8a74af;
}

.contact-form-body input[type='text']:not(:placeholder-shown) + label {
	background: #fff;
	transform: translate(0, -50%);
	opacity: 1;
}

.contact-form-body {
}
