/* contact.css */

#contact {
	background-color: var(--violet);
	/*background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23ffffff' fill-opacity='0.6'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");*/
}

.contact > .container {
	margin-left: auto !important; /*! WTF BULMA??? */
	margin-right: auto !important;
}

.contact-hero {
	background: url(./../img/uvod-bg.png) center no-repeat;
	background-size: cover;
}

.contact-hero.text {
	padding: 120px 0 0 0;
}

.contact-hero.text h1 {
	font-size: 40px;
	font-weight: 500;
}

.contact-hero.text p {
	font-size: 30px;
}

.contact-hero.container {
	background: none;
}

.contact-hero a {
	font-size: 50px;
}

.contact-hero a > span:hover {
	color: var(--violet-light);
	transition: all 0.5s ease;
}

/*
.contact-hero.socials {
	background: none;
	padding: 0 0 45px 0;
}

.contact-hero.socials span {
	font-size: 45px;
}

.contact-hero.socials > .column {
	margin-left: -7px;
}*/
.contact-left {
	background: var(--violet-light);
	padding-bottom: 20%;
}

.contact-left * {
	color: white;
}

.contact-left-text {
	margin-top: 20px;
}

.contact-left-text h2 {
	font-size: 30px;
	font-weight: 600;
	margin: 0 0 20px 50px;
	line-height: 1.3;
}

.contact-left-text p {
	margin-left: 50px;
}

.timeline {
	list-style-type: none;
	position: relative;
	margin-right: 45px;
	margin-top: 40px;
}

.timeline:before {
	content: ' ';
	background: white;
	display: inline-block;
	position: absolute;
	left: 24px;
	width: 4px;
	height: 87%;
	z-index: 1;
}

.timeline > li {
	margin: 0;
	padding: 0 0 35px;
}

.timeline > li:before {
	background: var(--violet-light);
	display: inline-block;
	position: absolute;
	left: 10px;
	z-index: 2;
	font-size: 28px;
	padding: 10px 0;
	margin-top: -15px;
}

.timeline > li:nth-child(1):before {
	content: '📝';
	margin-top: -20px;
}
.timeline > li:nth-child(2):before {
	content: '📐';
	margin-top: -18px;
}
.timeline > li:nth-child(3):before {
	content: '💬';
}
.timeline > li:nth-child(4):before {
	content: '🧑‍💻';
	margin-top: -18px;
}
.timeline > li:nth-child(5):before {
	content: '🚀';
	margin-top: -16px;
}

.timeline h5 {
	font-weight: 600;
	margin-left: 55px;
	font-size: 18px;
}

.timeline p {
	font-size: 14px;
	margin-left: 55px;
}

.timeline b {
	font-weight: 600;
	padding-left: 5px;
}

.contact-form {
	width: 85%;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	transition: all 0.5s;
	margin-top: -154px;
}

.contact .column.form-group {
	margin: 20px;
}

.contact-form-header {
	background-color: #f9f9fb;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	padding: 30px;
}

.contact-form-header-icon {
	height: min-content;
}

.contact-form-header-icon > span {
	font-size: 55px;
	color: white;
	background: var(--violet);
	border-radius: 10px;
	padding: 0 10px;
}

.contact-form-header-icon > span::before {
	vertical-align: 0.125em;
	transform: scale(1.2);
	line-height: 0.8;
}

.contact-form-header-text {
	padding-left: 23px;
}

.contact-form-header-text > span,
.contact-form-header-text > span > b {
	font-size: 20px;
	color: var(--text-dark);
}

.contact-form-body {
	background: white; /* #f8f4fe */
	border-bottom-right-radius: 12px;
	border-bottom-left-radius: 12px;
	transition: all 0.5s;
	padding: 30px;
}

.contact-form-body label,
.contact-form-body p,
.services-contact label,
.services-contact p {
	color: #02044a;
	background: rgba(0, 0, 0, 0);
	font-size: 14px;
	font-weight: 500;
}

.contact-form-body p {
	text-align: center;
}

.contact-form-body a,
.services-contact a {
	color: var(--violet);
	transition: all 0.3s ease;
}

.contact-form-body a:hover,
.services-contact a:hover {
	color: var(--violet-darker);
}

.form-group {
	padding-bottom: 24px;
}

.form-inputs > .column:nth-child(1) {
	padding-right: 15px;
}

.form-inputs > .column:nth-child(2) {
	padding-left: 15px;
}

.form-group:last-child {
	margin-bottom: 0;
}

.services-contact label,
.contact-form-body label {
	display: block;
	margin-bottom: 5px;
}

.form-inputs .column {
	padding: 0;
}

/* gud shadow box-shadow: 1px 1px 4px 0 rgba(2, 4, 74, 0.04);*/
textarea,
.txtarea-cont {
	height: calc(100% - 13px);
}

input[type='text'],
textarea {
	color: #333333;
	background-color: #f9f9fb; /*#f5f1ff */
	border: 2px solid hsla(0, 0%, 100%, 0);
	border-radius: 10px;
	padding: 15px;
	transition: all 0.3s ease;
	outline: none;
	font-weight: 500;
	width: 100%;
	resize: none;
}

input[type='text'] {
	padding: 15px 15px 15px 45px;
}

input[type='text']::placeholder,
textarea::placeholder {
	color: #aeafc5;
	font-size: 14px;
}

input[type='text']:hover,
textarea:hover {
	border-color: #dfdfe8;
	background: white;
	box-shadow: 1px 1px 4px 0 rgba(2, 4, 74, 0.04);
}
input[type='text']:focus,
textarea:focus {
	border-color: var(--violet);
	background: white;
}

.input-icon-wrap {
	position: relative;
}

.input-icon-wrap:hover + span {
	color: var(--violet);
}

.input-icon-wrap span {
	position: absolute;
	top: auto;
	bottom: auto;
	left: 10px;
	color: #aeafc5;
	opacity: 0.6;
	font-size: 30px;
}

.select-boxes {
	margin: 0 0 24px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 16px;
}

.select-box {
	width: 100%;
}

.select-box > input {
	display: none;
}

.select-box > label {
	background: #fafbfc;
	color: #494a7d;
	border: 2px solid hsla(0, 0%, 100%, 0);
	text-align: center;
	border-radius: 10px;
	padding: 15px 0;
	margin: 0;
	font-weight: 500;
	transition: all 0.3s ease;
	cursor: pointer;
	user-select: none;
}

.select-box input:hover + label {
	border-color: #dfdfe8;
	box-shadow: 1px 1px 4px 0 rgba(2, 4, 74, 0.04);
}

.select-box input + label:focus {
	border-color: #dfdfe8;
	box-shadow: 1px 1px 4px 0 rgba(2, 4, 74, 0.04);
	outline: none;
}

.select-box input:checked + label {
	border-color: var(--violet);
	background: #f5f1ff;
	box-shadow: 1px 1px 4px 0 rgba(2, 4, 74, 0.04);
}

/* korekce poslední ikony, bcs typicons nemůžou být všechny stejně velké že :))))) */
.form-group:nth-child(3) > .input-icon-wrap {
	display: flex;
	align-items: center;
}

.form-group:nth-child(3) span {
	font-size: 25px;
}

.kontakty {
	width: 85%;
	display: flex;
	justify-content: space-between;
	padding: 40px 0 0;
}

.kontakty-box {
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	background: white;
	border-radius: 12px;
	padding: 20px 0;
	width: 30%;
}

.kontakty-box p {
	color: var(--violet);
	font-size: 25px;
	text-align: center;
}

.kontakty-box i {
	display: block;
	font-size: 40px;
	text-align: center;
	color: var(--violet);
}

/* SERVICE - CONTACT */

.services-contact-wrap {
	padding: 80px 0;
}

.services-contact {
	background-color: #d9cdf2;
	width: 45%;
	margin: 0 auto;
	padding: 30px;
	border-radius: 12px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.services-contact p {
	text-align: center;
}
