#faq {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.faq-questions-container {
	display: flex;
	flex-direction: column;
}

.faq-questions {
	display: flex;
	flex-direction: row;
}

.faq-question {
	display: flex;
	flex-direction: column;
	border-radius: 5px;
	border: 2px RGBA(0, 0, 0, 0.1) solid;
	box-shadow: 0px 0px 50px #35353538 !important;
}

.faq-question h3 {
	color: var(--violet);
	font-size: 25px;
	font-weight: 900;
	display: inline;
}

.faq-icon-container,
.faq-icon-container i {
	display: inline;
	color: var(--violet);
	text-align: right;
	float: right;
}

.faq-icon {
	font-size: 30px;
	transition-duration: 0.3s;
	transform: rotate(90deg);
}

.faq-icon-container:hover {
	cursor: pointer;
	/*transform: scale(1.1);*/
}

.faq-questions-content {
	overflow: hidden;
	max-height: 0;
	transition: all 0.2s ease-in-out;
	transition: max-height 1s ease-in-out;
}

.faq-show {
	max-height: 22vh;
}

.faq-question-text p {
	color: var(--violet-darker);
}

.faq-question-button a {
	color: var(--violet-dark);
	border-radius: 30px;
	border: 2px var(--violet-dark) solid;
	float: right;
	padding: 3px 7px 3px 7px;
}

.faq-question-button a div {
	color: var(--violet-dark);
}

.faq-question-button a {
	border-radius: 10rem;
	color: #fff;
	transition: all 0.3s;
	position: relative;
	overflow: hidden;
	z-index: 1;
}
.faq-question-button a:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 30px;
	z-index: -2;
}
.faq-question-button a:before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0%;
	height: 100%;
	background-color: var(--violet-dark);
	transition: all 0.3s;
	border-radius: 30px;
	z-index: -1;
}

.faq-question-button a:hover div {
	color: #fff;
}

.faq-question-button a:hover {
	color: #fff;
}
.faq-question-button a:hover:before {
	width: 100%;
}

.faq-form-container {
	position: relative;
	margin-top: -10vh !important;
	background: var(--violet-dark);
	border-radius: 20px;
	border-top-right-radius: 30px;
	padding: 30px;
	z-index: 2;
	box-shadow: 0px 0px 40px RGBA(0, 0, 0, 0.45) !important;
	overflow: hidden;
}

.faq-form-title {
	margin-top: -2vh !important;
	z-index: 3;
}

.faq-form-title {
	z-index: 3;
}

.faq-form-title div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.faq-form-title div h2 {
	font-size: 25px;
}

.faq-form-container div form div {
	margin-bottom: 10px !important;
}

.faq-form-container div form input,
.faq-form-container div form textarea {
	color: var(--text-dark);
	background-color: #f8f4fe;
	border: none;
	border-radius: 10px;
	padding: 6px 7px 6px 7px;
	transition: all 0.3s ease-in-out;
	outline: none;
	z-index: 3;
}

.faq-form-container div form textarea {
	resize: none;
	border-radius: 15px;
}

.faq-form-button-contaner {
	border-radius: 15px;
	padding: 30px;
	transition: all 0.3s ease-in-out;
	z-index: 3;
}

.faq-form-button-container input:hover {
	transform: scale(1.1);
	cursor: pointer;
}

.faq-question-mark-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.faq-form-question-mark {
	position: absolute;
	z-index: -1;
	margin-top: 50px;
	transition: all 0.3s ease;
	text-align: center;
}

.faq-form-container div .faq-form-question-mark-1 {
	animation: questionMark 5s ease-in-out infinite;
	margin-left: -220px;
}

.faq-form-container div .faq-form-question-mark-2 {
	margin-left: -90px;
	animation: questionMark 5s 1s ease-in-out infinite;
}

.faq-form-container div .faq-form-question-mark-3 {
	animation: questionMark 4s 1.5s ease-in-out infinite;
	margin-left: 90px;
}

.faq-form-container div .faq-form-question-mark-4 {
	animation: questionMark 5s 0.6s ease-in-out infinite;
	margin-left: 220px;
}

.faq-form-container div .faq-form-question-mark-5 {
	animation: questionMark 5s 1.9s ease-in-out infinite;
	margin-left: -220px;
}

.faq-form-container div .faq-form-question-mark-6 {
	animation: questionMark 5s 1.9s ease-in-out infinite;
	margin-left: 90px;
}
