svg {
	max-width: 100%;
	height: 100%;
}

/* NASI PARTNERI */

#nasi-partneri {
	padding: 30px 0 50px 0;
}

#nasi-partneri * {
	color: var(--violet);
}

#nasi-partneri h2 {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

/* NASI PARTNERI END */

/* PARTNERI TEAM */

#partnerstvi-team div {
	margin: 75px auto;
}

#partnerstvi-team p {
	width: 70%;
}

#partnerstvi-team svg {
	max-height: 100%;
	width: 500px;
}

#svg-team {
	transform: translateY(100px);
	opacity: 0;
}

#svg-team svg {
	float: right;
}


/* PARTNERI TEAM END */

/* PARTNERSTVI PROC */

#partnerstvi-proc {
	margin: 50px auto;
}

#partnerstvi-proc * {
	color: var(--violet);
}

#partnerstvi-proc > .row {
	margin: 30px 0px 30px 0px;
}

#partnerstvi-proc > .row > .col {
	background: #fff;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	border: 2px solid hsla(0, 0%, 100%, 0);
	border-radius: 12px;
	margin: 20px;
	padding: 30px;
	opacity: 0;
	width: 270px;
	transform: translateY(200px);
}

#partnerstvi-proc-card-1 {
	transition: all .4s ease-in-out;
}

#partnerstvi-proc-card-2 {
	transition: all .6s ease-in-out;
}

#partnerstvi-proc-card-3 {
	transition: all .8s ease-in-out;
}

#partnerstvi-proc-card-4 {
	transition: all 1s ease-in-out;
}

#partnerstvi-proc > .row > .col > div {
	max-height: 100%;
	width: 220px;
}

#partnerstvi-proc > .row > .col > h2 {
	text-align: center;
	font-size: 25px;
}

/* PARTNERSTVI PROC END */

/* PARTNERSTVI JAK */

#partnerstvi-jak {
	padding: 50px 0 50px 0;
}

/* PARTNERSTVI JAK END */