/* DEFAULTS */
/* mono font for real time clock */
@import url('https://fonts.googleapis.com/css2?family=B612+Mono&display=swap');

.sluzby-content-text {
	margin-left: 45px;
}

.sluzby-content-text p {
	font-size: 20px;
	margin-top: 35px;
	font-weight: 400;
	line-height: 30px;
}

svg {
	position: relative;
	max-width: 100%;
	height: 100%;
}

.in-text-link {
	transition: all 0.3s ease-in-out;
}

.in-text-link:visited {
	color: #fff;
}

.in-text-link:hover {
	color: #fff;
	text-decoration: underline;
}

/* DEFAULTS END */

.skip-button {
	margin-top: -35px !important;
	position: relative;
	z-index: 2;
}

.skip-button a {
	width: fit-content !important;
}

.skip-button a div {
	background: var(--violet);
	border-radius: 12px;
	font-size: 30px;
	transition: all 0.3s ease-in-out;
	text-align: center;
	overflow: hidden;
}

.skip-text {
	padding: 30px 45px 30px 0;
	transition: all 0.5s ease-in-out;
	font-size: 25px;
	font-weight: 500;
}

.skip-arrow {
	padding: 25px 0 25px 10px;
	display: inline;
	position: relative;
	transition: all 0.75s ease-in-out;
	top: 50px;
}

.skip-button a:hover div {
	background: var(--violet-light);
}

.skip-button a:hover div .skip-text {
	padding: 30px 30px 30px 15px;
}

.skip-button a:hover div .skip-arrow {
	display: inline;
	top: 0;
	padding: 25px 0 25px 10px;
}

/* ROZCESTNIK */

#rozcestnik {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.rozcestnik-content svg {
	display: inline-block;
}

.quick-desc {
	margin-top: 50px !important;
}

.quick-desc h2{
	font-size: 40px;
}

#svg-sluzby-rozcestnik-web-pres {
	transition: all 0.5s 0.25s ease-in-out;
	transform: translate(-25px, 200px);
	opacity: 0;
}

#svg-sluzby-rozcestnik-web-app {
	transition: all 0.5s 0.5s ease-in-out;
	transform: translateY(200px);
	opacity: 0;
}

#svg-sluzby-rozcestnik-ecommerce {
	transition: all 0.75s ease-in-out;
	transform: translate(25px, 200px);
	opacity: 0;
}

#svg-sluzby-rozcestnik-web-pres-nav,
#svg-sluzby-rozcestnik-ecommerce-nav {
	transition: all 0.75s ease-in-out;
}

#svg-sluzby-rozcestnik-web-pres-left-column,
#svg-sluzby-rozcestnik-web-app-left-column,
#svg-sluzby-rozcestnik-web-app-status-top {
	transition: all 1s ease-in-out;
}

#svg-sluzby-rozcestnik-web-pres-card-top-left,
#svg-sluzby-rozcestnik-web-pres-card-top-right,
#svg-sluzby-rozcestnik-web-app-values,
#svg-sluzby-rozcestnik-web-app-status-middle,
#svg-sluzby-rozcestnik-ecommerce-left-column,
#svg-sluzby-rozcestnik-ecommerce-filters-search,
#svg-sluzby-rozcestnik-ecommerce-card-top-left {
	transition: all 1.1s ease-in-out;
}

#svg-sluzby-rozcestnik-web-pres-card-bottom-left,
#svg-sluzby-rozcestnik-web-pres-card-bottom-right,
#svg-sluzby-rozcestnik-web-app-status-bottom,
#svg-sluzby-rozcestnik-ecommerce-card-top-middle {
	transition: all 1.2s ease-in-out;
}

#svg-sluzby-rozcestnik-ecommerce-card-top-right {
	transition: all 1.3s ease-in-out;
}

#svg-sluzby-rozcestnik-ecommerce-card-bottom-left {
	transition: all 1.4s ease-in-out;
}

#svg-sluzby-rozcestnik-ecommerce-card-bottom-middle {
	transition: all 1.5s ease-in-out;
}

#svg-sluzby-rozcestnik-ecommerce-card-bottom-right {
	transition: all 1.6s ease-in-out;
}

#svg-sluzby-rozcestnik-web-pres:hover {
	transform: translate(-15px, 50px);
	cursor: pointer;
}
#svg-sluzby-rozcestnik-web-pres:hover > #svg-sluzby-rozcestnik-web-pres-nav {
	transform: translate(-5px, 20px);
}

#svg-sluzby-rozcestnik-web-pres:hover > #svg-sluzby-rozcestnik-web-pres-left-column {
	transform: translate(-15px, 25px);
}

#svg-sluzby-rozcestnik-web-pres:hover > #svg-sluzby-rozcestnik-web-pres-card-bottom-left {
	transform: translate(-10px, 30px);
}

#svg-sluzby-rozcestnik-web-pres:hover > #svg-sluzby-rozcestnik-web-pres-card-top-left {
	transform: translate(-10px, 25px);
}

#svg-sluzby-rozcestnik-web-pres:hover > #svg-sluzby-rozcestnik-web-pres-card-bottom-right {
	transform: translate(-5px, 30px);
}

#svg-sluzby-rozcestnik-web-pres:hover > #svg-sluzby-rozcestnik-web-pres-card-top-right {
	transform: translate(-5px, 25px);
}

#svg-sluzby-rozcestnik-web-app:hover {
	transform: translateY(50px);
	cursor: pointer;
}

#svg-sluzby-rozcestnik-web-app:hover > #svg-sluzby-rozcestnik-web-app-left-column {
	transform: translate(-10px, 25px);
}

#svg-sluzby-rozcestnik-web-app:hover > #svg-sluzby-rozcestnik-web-app-status-top {
	transform: translateY(25px);
}

#svg-sluzby-rozcestnik-web-app:hover > #svg-sluzby-rozcestnik-web-app-values {
	transform: translateY(30px);
}

#svg-sluzby-rozcestnik-web-app:hover > #svg-sluzby-rozcestnik-web-app-status-middle {
	transform: translate(10px, 30px);
}

#svg-sluzby-rozcestnik-web-app:hover > #svg-sluzby-rozcestnik-web-app-status-bottom {
	transform: translate(10px, 30px);
}

#svg-sluzby-rozcestnik-ecommerce:hover {
	transform: translate(15px, 50px);
	cursor: pointer;
}

#svg-sluzby-rozcestnik-ecommerce:hover > #svg-sluzby-rozcestnik-ecommerce-nav {
	transform: translate(5px, 20px);
}

#svg-sluzby-rozcestnik-ecommerce:hover > #svg-sluzby-rozcestnik-ecommerce-nav {
	transform: translate(5px, 20px);
}

#svg-sluzby-rozcestnik-ecommerce:hover > #svg-sluzby-rozcestnik-ecommerce-left-column {
	transform: translate(15px, 25px);
}

#svg-sluzby-rozcestnik-ecommerce:hover > #svg-sluzby-rozcestnik-ecommerce-filters-search {
	transform: translate(10px, 25px);
}

#svg-sluzby-rozcestnik-ecommerce:hover > #svg-sluzby-rozcestnik-ecommerce-card-top-left {
	transform: translate(10px, 30px);
}

#svg-sluzby-rozcestnik-ecommerce:hover > #svg-sluzby-rozcestnik-ecommerce-card-top-middle {
	transform: translate(10px, 30px);
}

#svg-sluzby-rozcestnik-ecommerce:hover > #svg-sluzby-rozcestnik-ecommerce-card-top-right {
	transform: translate(10px, 30px);
}

#svg-sluzby-rozcestnik-ecommerce:hover > #svg-sluzby-rozcestnik-ecommerce-card-bottom-left {
	transform: translate(10px, 30px);
}

#svg-sluzby-rozcestnik-ecommerce:hover > #svg-sluzby-rozcestnik-ecommerce-card-bottom-middle {
	transform: translate(10px, 30px);
}

#svg-sluzby-rozcestnik-ecommerce:hover > #svg-sluzby-rozcestnik-ecommerce-card-bottom-right {
	transform: translate(10px, 30px);
}

/* ROZCESTNIK END*/

/* defaults for waypoints */
.svg-sluzby-content {
	transform: translateY(100px);
	transition: all 0.75s ease-in-out;
	opacity: 0;
}

#grafika {
	margin-top: -100px;
}

#grafika p {
	width: 75%;
}

/* #grafika .text-card {
	width: 90%;
	margin-right: 100px;
} */

#svg-sluzby-grafika-na-miru-web {
	transition-delay: 0.25s;
}

#bezpeci p {
	width: 70%;
}

#sprava p {
	width: 60%;
}

#traffic p {
	width: 70%;
}

#dynamika p {
	width: 70%;
}

#podpora p {
	width: 65%;
}

#plneni p {
	width: 70%;
}

#fotky p {
	width: 70%;
}

#customs p {
	width: 70%;
}

/* #svg-sluzby-sprava-cog-1 {
	transform-origin: center;
	transform-box: fill-box;
	animation: rotate3D 5s linear infinite;
}

#svg-sluzby-sprava-cog-2 {
	transform-origin: center;
	transform-box: fill-box;
	animation: emblemPath2 5s linear infinite;
} */

#svg-sluzby-podpora-calendar {
	transition-delay: 0.25s;
}

#svg-sluzby-podpora-clock {
	transition-delay: 0.5s;
}

/* CENIK */

#cenik * {
	color: var(--violet);
}

#cenik {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 50px 0 150px 0;
}
#cenik > div {
	display: flex;
	flex-direction: column;
	width: 100%;
}

#cenik h2 {
	text-align: center;
}

#cenik > div > h2 {
	color: #fff;
	margin: 5px 0 5px 0;
}

#cenik-title-first-box {
	padding-top: 15px;
}

#cenik > div {
	background: var(--violet-dark);
	margin: 0 100px 0 100px;
	border-radius: 12px;
	box-shadow: 0px 0px 45px 3px rgba(2, 4, 74, 0.25);
}

#cenik > div > div {
	background: #fff;
	border-radius: 10px;
	padding-top: 5px;
	padding-bottom: 15px;
}

.cenik-col-1:first-child {
	padding: 25px !important;
}

.cenik-box div div {
	margin: 10px !important;
	padding: 10px;
}

.cenik-box div div h3 {
	font-weight: 600;
}

.cenik-box div div {
	font-size: 20px;
	line-height: 30px;
}

.cenik-explanations * {
	font-size: 18px;
	list-style-type: disc;
}

.cenik-explanations div h3 {
	margin-left: 35px;
	font-weight: 600;
}

.cenik-explanations div ul {
	margin-left: 55px;
}

.cenik-kontakt {
	justify-content: center;
	margin-top: 20px !important;
}

.cenik-kontakt * {
	display: block;
}

/* CENIK END*/

/* CONTACT */

.services-contact-wrap {
	padding: 80px 0;
}

.contact-left {
	background: var(--violet-light);
	padding-bottom: 20%;
}

.contact-left * {
	color: white;
}

.contact-left-text {
	margin-top: 20px;
}

.contact-left-text h2 {
	font-size: 30px;
	font-weight: 600;
	margin: 0 0 20px 50px;
	line-height: 1.3;
}

.contact-left-text p {
	margin-left: 50px;
}

/* TIMELINE */

.timeline {
	list-style-type: none;
	position: relative;
	margin-right: 45px;
	margin-top: 40px;
}

.timeline:before {
	content: ' ';
	background: white;
	display: inline-block;
	position: absolute;
	left: 24px;
	width: 4px;
	height: 87%;
	z-index: 1;
}

.timeline > li {
	margin: 0;
	padding: 0 0 35px;
}

.timeline > li:before {
	background: var(--violet-light);
	display: inline-block;
	position: absolute;
	left: 10px;
	z-index: 2;
	font-size: 28px;
	padding: 10px 0;
	margin-top: -15px;
}

.timeline > li:nth-child(1):before {
	content: '📝';
	margin-top: -20px;
}
.timeline > li:nth-child(2):before {
	content: '📐';
	margin-top: -18px;
}
.timeline > li:nth-child(3):before {
	content: '💬';
}
.timeline > li:nth-child(4):before {
	content: '🧑‍💻';
	margin-top: -18px;
}
.timeline > li:nth-child(5):before {
	content: '🚀';
	margin-top: -16px;
}

.timeline h5 {
	font-weight: 600;
	margin-left: 55px;
	font-size: 18px;
}

.timeline p {
	font-size: 14px;
	margin-left: 55px;
}

.timeline b {
	font-weight: 600;
	padding-left: 5px;
}
/* POSTUP VYROBY END */

/* SUB-SERVICES */

.subservices-nav-button {
	margin-top: -35px !important;
	position: relative;
	z-index: 2;
}

.subservices-nav-button a {
	width: fit-content !important;
}

.subservices-nav-button a div {
	background: var(--violet);
	border-radius: 12px;
	font-size: 30px;
	transition: all 0.3s ease-in-out;
	text-align: center;
	overflow: hidden;
}

.subservices-nav-text {
	padding: 0 20px 0 25px;
	transition: all 0.5s ease-in-out;
	font-size: 25px;
	font-weight: 500;
	line-height: 25px;
}

.subservices-nav-button a:hover div {
	background: var(--violet-light);
}

/* WEB-PRES */

/* real time clock */

#web-pres p {
	width: 75%;
}

#web-pres {
	margin: -200px 0px -100px 0px;
	width: fit-content;
}

#reprezentace p {
	width: 75%;
}

#svg-sluzby-reprezentace-sun {
	transition: all 2.5s ease-in-out;
}

#svg-sluzby-clock-1 {
	transform: translate(300px, 600px) skewY(-20deg);
}
#svg-sluzby-clock-2 {
	transform: translate(530px, 515px) skewY(-20deg);
}
#svg-sluzby-colon {
	transform: translate(425px, 415px) skewY(-20deg);
}

#svg-sluzby-fast-calendar {
	transition: all 1s ease-in-out;
}

#fast p {
	width: 60%;
}

/* WEB-PRES END*/

/* WEB-APP*/

#web-app {
	margin: 50px 0 150px 0;
}

#web-app p {
	width: 70%;
}

#easy {
	padding: 0px 0 100px 0;
}

#svg-sluzby-web-pres-left-column {
	left: -54.0205px;
	top: -55.23195px;
}

#easy p {
	width: 75%;
}

#svg-sluzby-easy-card-top-left-left {
	transition: all 1s ease-in-out;
}

#svg-sluzby-easy-card-top-left {
	transition: all 1.1s ease-in-out;
}

#svg-sluzby-easy-card-top-right {
	transition: all 1.2s ease-in-out;
}

#svg-sluzby-easy-card-top-right-right {
	transition: all 1.3s ease-in-out;
}

#svg-sluzby-easy-card-bottom-left-left {
	transition: all 1.4s ease-in-out;
}

#svg-sluzby-easy-computer,
#svg-sluzby-easy-graph-bg,
#svg-sluzby-easy-card-bottom-left {
	transition: all 1.5s ease-in-out;
}

#svg-sluzby-easy-card-bottom-right {
	transition: all 1.6s ease-in-out;
}

#svg-sluzby-easy-graph,
#svg-sluzby-easy-card-bottom-right-right {
	transition: all 1.7s ease-in-out;
}

#reaktivita p {
	width: 80%;
}

/* WEB-APP END*/

/* ECOMMMERCE */

#ecommerce {
	margin: 50px 0 150px 0;
}

#ecommerce p {
	width: 75%;
}

#seo p {
	width: 65%;
}

#platby p {
	width: 80%;
}

#objednavky p {
	width: 70%;
}

#svg-sluzby-seo-content {
	transition: all 1s ease-in-out;
}

#svg-sluzby-objednavky-content-2 {
	transition: all 1s ease-in-out;
}

/* ECOMMERCE END*/

/* SUB-SERVICES END */