/* DEFAULTS */
/* mono font for real time clock */
@import url('https://fonts.googleapis.com/css2?family=B612+Mono&display=swap');

.sluzby-content-text p {
	font-size: 25px;
	margin-top: 35px;
	font-weight: 400;
	line-height: 40px;
}

svg {
	position: relative;
	max-width: 100%;
	height: 100%;
}

/* DEFAULTS END */

/* ROZCESTNIK */

#svg-sluzby-rozcestnik-web-pres {
	transition: all 0.5s 0.25s ease-in-out;
	transform: translate(-25px, 200px);
	opacity: 0;
}

#svg-sluzby-rozcestnik-web-app {
	transition: all 0.5s 0.5s ease-in-out;
	transform: translateY(200px);
	opacity: 0;
}

#svg-sluzby-rozcestnik-ecommerce {
	transition: all 0.75s ease-in-out;
	transform: translate(25px, 200px);
	opacity: 0;
}

#svg-sluzby-rozcestnik-web-pres-nav,
#svg-sluzby-rozcestnik-ecommerce-nav {
	transition: all 0.75s ease-in-out;
}

#svg-sluzby-rozcestnik-web-pres-left-column,
#svg-sluzby-rozcestnik-web-app-left-column,
#svg-sluzby-rozcestnik-web-app-status-top {
	transition: all 1s ease-in-out;
}

#svg-sluzby-rozcestnik-web-pres-card-top-left,
#svg-sluzby-rozcestnik-web-pres-card-top-right,
#svg-sluzby-rozcestnik-web-app-values,
#svg-sluzby-rozcestnik-web-app-status-middle,
#svg-sluzby-rozcestnik-ecommerce-left-column,
#svg-sluzby-rozcestnik-ecommerce-filters-search,
#svg-sluzby-rozcestnik-ecommerce-card-top-left {
	transition: all 1.1s ease-in-out;
}

#svg-sluzby-rozcestnik-web-pres-card-bottom-left,
#svg-sluzby-rozcestnik-web-pres-card-bottom-right,
#svg-sluzby-rozcestnik-web-app-status-bottom,
#svg-sluzby-rozcestnik-ecommerce-card-top-middle {
	transition: all 1.2s ease-in-out;
}

#svg-sluzby-rozcestnik-ecommerce-card-top-right {
	transition: all 1.3s ease-in-out;
}

#svg-sluzby-rozcestnik-ecommerce-card-bottom-left {
	transition: all 1.4s ease-in-out;
}

#svg-sluzby-rozcestnik-ecommerce-card-bottom-middle {
	transition: all 1.5s ease-in-out;
}

#svg-sluzby-rozcestnik-ecommerce-card-bottom-right {
	transition: all 1.6s ease-in-out;
}

#svg-sluzby-rozcestnik-web-pres:hover {
	transform: translate(-15px, 50px);
	cursor: pointer;
}
#svg-sluzby-rozcestnik-web-pres:hover > #svg-sluzby-rozcestnik-web-pres-nav {
	transform: translate(-5px, 20px);
}

#svg-sluzby-rozcestnik-web-pres:hover > #svg-sluzby-rozcestnik-web-pres-left-column {
	transform: translate(-15px, 25px);
}

#svg-sluzby-rozcestnik-web-pres:hover > #svg-sluzby-rozcestnik-web-pres-card-bottom-left {
	transform: translate(-10px, 30px);
}

#svg-sluzby-rozcestnik-web-pres:hover > #svg-sluzby-rozcestnik-web-pres-card-top-left {
	transform: translate(-10px, 25px);
}

#svg-sluzby-rozcestnik-web-pres:hover > #svg-sluzby-rozcestnik-web-pres-card-bottom-right {
	transform: translate(-5px, 30px);
}

#svg-sluzby-rozcestnik-web-pres:hover > #svg-sluzby-rozcestnik-web-pres-card-top-right {
	transform: translate(-5px, 25px);
}

#svg-sluzby-rozcestnik-web-app:hover {
	transform: translateY(50px);
	cursor: pointer;
}

#svg-sluzby-rozcestnik-web-app:hover > #svg-sluzby-rozcestnik-web-app-left-column {
	transform: translate(-10px, 25px);
}

#svg-sluzby-rozcestnik-web-app:hover > #svg-sluzby-rozcestnik-web-app-status-top {
	transform: translateY(25px);
}

#svg-sluzby-rozcestnik-web-app:hover > #svg-sluzby-rozcestnik-web-app-values {
	transform: translateY(30px);
}

#svg-sluzby-rozcestnik-web-app:hover > #svg-sluzby-rozcestnik-web-app-status-middle {
	transform: translate(10px, 30px);
}

#svg-sluzby-rozcestnik-web-app:hover > #svg-sluzby-rozcestnik-web-app-status-bottom {
	transform: translate(10px, 30px);
}

#svg-sluzby-rozcestnik-ecommerce:hover {
	transform: translate(15px, 50px);
	cursor: pointer;
}

#svg-sluzby-rozcestnik-ecommerce:hover > #svg-sluzby-rozcestnik-ecommerce-nav {
	transform: translate(5px, 20px);
}

#svg-sluzby-rozcestnik-ecommerce:hover > #svg-sluzby-rozcestnik-ecommerce-nav {
	transform: translate(5px, 20px);
}

#svg-sluzby-rozcestnik-ecommerce:hover > #svg-sluzby-rozcestnik-ecommerce-left-column {
	transform: translate(15px, 25px);
}

#svg-sluzby-rozcestnik-ecommerce:hover > #svg-sluzby-rozcestnik-ecommerce-filters-search {
	transform: translate(10px, 25px);
}

#svg-sluzby-rozcestnik-ecommerce:hover > #svg-sluzby-rozcestnik-ecommerce-card-top-left {
	transform: translate(10px, 30px);
}

#svg-sluzby-rozcestnik-ecommerce:hover > #svg-sluzby-rozcestnik-ecommerce-card-top-middle {
	transform: translate(10px, 30px);
}

#svg-sluzby-rozcestnik-ecommerce:hover > #svg-sluzby-rozcestnik-ecommerce-card-top-right {
	transform: translate(10px, 30px);
}

#svg-sluzby-rozcestnik-ecommerce:hover > #svg-sluzby-rozcestnik-ecommerce-card-bottom-left {
	transform: translate(10px, 30px);
}

#svg-sluzby-rozcestnik-ecommerce:hover > #svg-sluzby-rozcestnik-ecommerce-card-bottom-middle {
	transform: translate(10px, 30px);
}

#svg-sluzby-rozcestnik-ecommerce:hover > #svg-sluzby-rozcestnik-ecommerce-card-bottom-right {
	transform: translate(10px, 30px);
}

/* ROZCESTNIK END*/

/* GRAFIKA*/

#grafika div div div p {
	width: 55%;
}

#svg-sluzby-grafika-na-miru-blueprint,
#svg-sluzby-grafika-na-miru-web {
	transform: translateY(100px);
	opacity: 0;
}

#svg-sluzby-grafika-na-miru-blueprint {
	transition: all 0.75s ease-in-out;
}

#svg-sluzby-grafika-na-miru-web {
	transition: all 0.75s 0.25s ease-in-out;
}

/* GRAFIKA END*/

#svg-bezpeci div p {
	width: 70%;
}

#svg-sluzby-clock-1 {
	transform: translate(300px, 600px) skewY(-20deg);
}
#svg-sluzby-clock-2 {
	transform: translate(530px, 515px) skewY(-20deg);
}
#svg-sluzby-colon {
	transform: translate(425px, 415px) skewY(-20deg);
}
