@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

* {
	color: white;
	font-size: 45px;
	text-align: center;
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}

:root {
	--violet: #4508bd;
	--violet-light: #5c09ff;
	--violet-dark: #310686;
	--violet-darker: #1b0050;
}

html {
	scroll-behavior: smooth;
}

a,
a:hover,
a:visited,
a:active {
	text-decoration: none;
	color: #fff;
}

li {
	list-style: none;
}

body {
	background-color: #fff;
}

.columns {
	margin-left: 0;
}

/* UVOD */

nav {
	color: black;
	background: none;
	top: 0;
	position: absolute;
	padding: 1vh;
	padding-top: 2vh;
	width: 100%;
	transition: all 0.3s ease-in-out;
	height: 75px;
	padding-right: 1vh;
	z-index: 1000;
}

nav a div {
	transition: all 0.3s ease-in-out;
	padding-bottom: 10px;
}

nav div {
	float: right !important;
	font-size: 25px;
}

nav select,
nav select option {
	background: none;
	border: none;
	font-size: 30px;
}

nav:hover {
	background: #fff;
}

nav:hover a div {
	color: var(--violet);
}

nav a div:hover {
}

nav:hover .kontakt-container div {
	background: var(--violet);
	color: #fff;
}

nav:hover #nav-logo div {
	background-image: url(./../img/emblem-gradient-sm.png);
}

nav:hover #nav-indicator {
	display: block;
}

nav a {
	text-align: left !important;
	float: left;
}

#nav-logo {
	width: 3%;
	margin-top: 13px;
	margin-left: 5px;
	transition: all 0.3s ease-in-out;
}

#nav-logo div {
	max-width: 100%;
	max-height: 100%;
	background-image: url(./../img/emblem-white-sm.png);
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
}

.kontakt-container div {
	background: RGBA(255, 255, 255, 0.4);
	border-radius: 10vh;
	padding: 0.1vh 4vh 0.1vh 4vh;
	font-size: 25px;
	color: var(--violet);
	transition: all 0.3s ease-in-out;
}

nav .kontakt-container div:hover {
	background: var(--violet-light);
}

.kontakt-container div:hover .logo-container {
	transform: rotate(30deg);
}

#nav-indicator {
	display: none;
	position: absolute;
	height: 5%;
	width: 5%;
	background: var(--violet);
	bottom: 0;
	transition: all 0.3s ease-in-out;
	margin-left: 6%;
}

/* UVOD */

#uvod {
}

#uvod img {
	top: 0;
	width: 100%;
}

#uvod-text {
	top: 75px;
	position: absolute;
	margin-left: 3vh;
	display: grid;
	grid-template-columns: 0.2fr 1.5fr 1.6fr;
	grid-template-rows: 0.3fr 2.3fr 0.4fr;
	gap: 0px 0px;
	grid-template-areas:
		'. . .'
		'. text .'
		'. . .';
}

#uvod-text div {
	grid-area: text;
}

#uvod-text div h1 {
	text-align: left;
	font-size: 45px;
}

#uvod-text div h1 strong {
	color: #fff;
}

#uvod-text div h2 {
	text-align: left;
}

#get-started-button {
	position: absolute;
	bottom: -7vh;
	width: 100%;
	display: grid;
	grid-template-columns: 1.8fr 0.3fr 1.8fr;
	grid-template-rows: 1fr;
	gap: 0px 0px;
	grid-template-areas: '. get-started .';
}

#get-started-button div {
	grid-area: get-started;

	background: var(--violet-dark);
	border-radius: 10vh;
	font-size: 30px;
	transition: all 0.3s ease-in-out;
	justify-content: center;
}

#get-started-button div:hover {
	background: var(--violet);
}

/* NABIDKA */

#nabidka {
	width: 100%;
	position: relative;
	z-index: 1;
}

#nabidka-okna {
	background-color: #fff;
	height: 70vh;
	width: 100%;
}

#nabidka-vyber {
	left: 0;
	width: 100%;
	margin-top: 5vh;
	background: var(--violet-dark);
	transform: skewY(-5deg);
	transform-origin: top left;
	padding-top: 20vh;
}

#nabidka-vyber div div h1,
#nabidka-vyber div div p {
	text-align: left;
}

#nabidka-vyber div div h1 {
	margin-left: 2vh;
}

#nabidka-vyber div div p {
	margin-left: 6vh;
	font-size: 30px;
}

#nabidka-vyber div div a div {
	font-size: 25px;
	border: 3px #fff solid;
	border-radius: 10vh;
	margin: 5vh auto 0 auto;
	width: 275px;
	color: #fff;
	transition: all 0.3s ease-in-out;
}

#nabidka-vyber div div a div:hover {
	background: var(--violet);
}

.unskewed {
	transform: skewY(5deg);
}

#nabidka-vyber-bottom {
	bottom: 0;
	left: 0;
	position: absolute;
	width: 100%;
	height: 30vh;
	background: var(--violet-dark);
	z-index: -1;
}

/* PORTFOLIO */

#portfolio {
	background: #000;
	height: 100vh;
}

/* CONTACT FORM INDEX */

#contact-form {
	height: 100vh;
}

/* FOOTER */

footer {
	height: 70vh;
	background: var(--violet-darker);
}

/* KEYFRAMES */

@keyframes fromTop {
	from {
		margin-top: -100vh;
	}

	to {
		margin-top: 10vh;
	}
}

/** RESPO */

/* 9.1 XS (<576px) */
@media only screen and (max-width: 576px) {
}

/* 9.2 SM (>=576px) */
@media only screen and (min-width: 576px) {
}

/* 9.3 MD (>=768px) */
@media only screen and (min-width: 768px) {
}

/* 9.4 LG (>=992px) */
@media only screen and (min-width: 992px) {
}

/* 9.5 EL (>=1200px) */
@media only screen and (min-width: 1140px) {
}

/* Waves SVG*/

.custom-shape-divider-bottom-1610843841 {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
	transform: rotate(180deg);
	margin-bottom: 13px;
}

.custom-shape-divider-bottom-1610843841 svg {
	position: relative;
	display: block;
	width: calc(274% + 1.3px);
	height: 69px;
}

.custom-shape-divider-bottom-1610843841 .shape-fill {
	fill: #ffffff;
}
