@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
	color: white;
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}

:root {
	--violet: #4508bd;
	--violet-light: #5c09ff;
	--violet-dark: #310686;
	--violet-darker: #1b0050;
	--light-gray: #e7e7e7;
	--text-gray: #969696;
}

html {
	scroll-behavior: smooth;
}

a,
a:hover,
a:visited,
a:active {
	text-decoration: none;
	color: #fff;
}

/* nadpisy v hero */
h1 {
	font-size: 45px;
	color: #fff;
	text-align: left;
}

/* nadpisy ve stránce */
h2 {
}

/* podnadpisy */
h3 {
}

li {
	list-style: none;
}

body {
	background-color: #fff;
}

.columns {
	margin-left: 0;
}
/*! GLOBALS END !*/

/*! PRELOADER !*/
/* PRELOADER
	inner-circle
	circular-path-1
	circular-path-2
	line-down-left-1
	line-top-right-1
	line-down-left-2
	line-top-2
	line-top-right-2
	line-down-right-2 */

#preloader {
	background: var(--violet-dark);
	width: 100%;
	height: 100%;
	display: block;
	box-sizing: border-box;
}

#inner-circle {
	animation: innerCircle 3s ease;
	transform-origin: center;
	transform-box: fill-box;
}

#circular-path-1,
#circular-path-2 {
	opacity: 0;
}

#emblem-path-1 {
	transform-origin: center;
	transform-box: fill-box;
	-webkit-animation: moveCounterClockwise 5s linear infinite;
	animation: emblemPath1 5s linear infinite;
}

#emblem-path-2 {
	transform-origin: center;
	transform-box: fill-box;
	-webkit-animation: moveClockwise 5s linear infinite;
	animation: emblemPath2 5s linear infinite;
}

@keyframes emblemPath1 {
	from {
		transform: rotateZ(0deg);
	}
	to {
		transform: rotateZ(360deg);
	}
}

@keyframes emblemPath2 {
	from {
		transform: rotateZ(360deg);
	}
	to {
		transform: rotateZ(0deg);
	}
}

/* #line-down-left-1 {
	transform-origin: bottom;
	transform-box: fill-box;
	transform: translateY(10%) translateX(-2%);
	motion-path: path(
		'M107.447 173.403C128.152 173.403 144.937 156.618 144.937 135.913C144.937 115.208 128.152 98.4226 107.447 98.4226C86.7415 98.4226 69.9565 115.208 69.9565 135.913C69.9565 156.618 86.7415 173.403 107.447 173.403Z'
	);
	offset-path: path(
		'M107.447 173.403C128.152 173.403 144.937 156.618 144.937 135.913C144.937 115.208 128.152 98.4226 107.447 98.4226C86.7415 98.4226 69.9565 115.208 69.9565 135.913C69.9565 156.618 86.7415 173.403 107.447 173.403Z'
	);
	motion-rotation: reverse;
	-webkit-animation: moveCounterClockwise 3s linear infinite;
	animation: moveCounterClockwise 5s linear infinite;
}

#line-top-right-1 {
	transform-origin: bottom;
	transform-box: fill-box;
	transform: translateY(-35%) rotateZ(100deg);
	motion-path: path(
		'M107.447 173.403C128.152 173.403 144.937 156.618 144.937 135.913C144.937 115.208 128.152 98.4226 107.447 98.4226C86.7415 98.4226 69.9565 115.208 69.9565 135.913C69.9565 156.618 86.7415 173.403 107.447 173.403Z'
	);
	offset-path: path(
		'M107.447 173.403C128.152 173.403 144.937 156.618 144.937 135.913C144.937 115.208 128.152 98.4226 107.447 98.4226C86.7415 98.4226 69.9565 115.208 69.9565 135.913C69.9565 156.618 86.7415 173.403 107.447 173.403Z'
	);
	motion-rotation: reverse;
	-webkit-animation: moveCounterClockwise 3s linear infinite;
	animation: moveCounterClockwise 5s 3.75s linear infinite;
}

#line-down-left-2 {
	transform-origin: bottom;
	transform-box: fill-box;
	transform: translateY(5%) translateX(-75%);
	motion-path: path(
		'M107.447 201.347C143.585 201.347 172.881 172.051 172.881 135.913C172.881 99.7746 143.585 70.4788 107.447 70.4788C71.3085 70.4788 42.0127 99.7746 42.0127 135.913C42.0127 172.051 71.3085 201.347 107.447 201.347Z'
	);
	offset-path: path(
		'M107.447 201.347C143.585 201.347 172.881 172.051 172.881 135.913C172.881 99.7746 143.585 70.4788 107.447 70.4788C71.3085 70.4788 42.0127 99.7746 42.0127 135.913C42.0127 172.051 71.3085 201.347 107.447 201.347Z'
	);
	motion-rotation: reverse 20deg;
	-webkit-animation: moveClockwise 3s linear infinite;
	animation: moveClockwise 5s linear infinite;
}

#line-top-2 {
	transform-origin: bottom;
	transform-box: fill-box;
	transform: translateY(-70%) translateX(10%) rotateZ(175deg);
	motion-path: path(
		'M107.447 201.347C143.585 201.347 172.881 172.051 172.881 135.913C172.881 99.7746 143.585 70.4788 107.447 70.4788C71.3085 70.4788 42.0127 99.7746 42.0127 135.913C42.0127 172.051 71.3085 201.347 107.447 201.347Z'
	);
	offset-path: path(
		'M107.447 201.347C143.585 201.347 172.881 172.051 172.881 135.913C172.881 99.7746 143.585 70.4788 107.447 70.4788C71.3085 70.4788 42.0127 99.7746 42.0127 135.913C42.0127 172.051 71.3085 201.347 107.447 201.347Z'
	);
	motion-rotation: reverse 20deg;
	-webkit-animation: moveClockwise 3s linear infinite;
	animation: moveClockwise 5s 7s linear infinite;
}

#line-top-right-2 {
	transform-origin: bottom;
	transform-box: fill-box;
	transform: translateY(-30%) translateX(10%) rotateZ(115deg);
	motion-path: path(
		'M107.447 201.347C143.585 201.347 172.881 172.051 172.881 135.913C172.881 99.7746 143.585 70.4788 107.447 70.4788C71.3085 70.4788 42.0127 99.7746 42.0127 135.913C42.0127 172.051 71.3085 201.347 107.447 201.347Z'
	);
	offset-path: path(
		'M107.447 201.347C143.585 201.347 172.881 172.051 172.881 135.913C172.881 99.7746 143.585 70.4788 107.447 70.4788C71.3085 70.4788 42.0127 99.7746 42.0127 135.913C42.0127 172.051 71.3085 201.347 107.447 201.347Z'
	);
	motion-rotation: reverse 20deg;
	-webkit-animation: moveClockwise 3s linear infinite;
	animation: moveClockwise 5s 2.8s linear infinite;
}

#line-down-right-2 {
	transform-origin: bottom;
	transform-box: fill-box;
	transform: translateY(0) translateX(80%) rotateZ(-365deg);
	motion-path: path(
		'M107.447 201.347C143.585 201.347 172.881 172.051 172.881 135.913C172.881 99.7746 143.585 70.4788 107.447 70.4788C71.3085 70.4788 42.0127 99.7746 42.0127 135.913C42.0127 172.051 71.3085 201.347 107.447 201.347Z'
	);
	offset-path: path(
		'M107.447 201.347C143.585 201.347 172.881 172.051 172.881 135.913C172.881 99.7746 143.585 70.4788 107.447 70.4788C71.3085 70.4788 42.0127 99.7746 42.0127 135.913C42.0127 172.051 71.3085 201.347 107.447 201.347Z'
	);
	motion-rotation: reverse 20deg;
	-webkit-animation: moveClockwise 3s linear infinite;
	animation: moveClockwise 5s 10s linear infinite;
} */

@keyframes innerCircle {
	from {
		transform: scale(0);
	}
	to {
		transform: scale(1);
	}
}

@keyframes moveCounterClockwise {
	100% {
		motion-offset: 100%;
		offset-distance: 100%;
	}
}

@keyframes moveClockwise {
	0% {
		motion-offset: 100%;
		offset-distance: 100%;
	}
}

/*! PRELAODER  END!*/

/*! UVOD !*/

nav {
	color: black;
	background: none;
	top: 0;
	position: absolute;
	padding: 0;
	padding-top: 1.5vh;
	width: 100%;
	transition: all 0.3s ease-in-out;
	height: 75px;
	padding-right: 1vh;
	z-index: 1000;
}

nav a {
	transition: all 0.3s ease-in-out;
}

nav a div,
nav a h5 {
	transition: all 0.3s ease-in-out;
	padding-bottom: 10px;
}

nav div {
	float: right !important;
	font-size: 25px;
}

nav a h5 {
	font-size: 25px;
	text-align: center;
}

nav ul {
	margin-top: 13px;
}

nav select,
nav select option {
	background: none;
	border: none;
	font-size: 30px;
}

nav:hover {
	background: #fff;
}

nav:hover a div,
nav:hover a h5 {
	color: var(--violet);
}

nav a div:hover {
}

nav:hover .kontakt-container div {
	background: var(--violet);
	color: #fff;
}

nav:hover #nav-logo div {
	background-image: url(./../img/emblem-gradient-sm.png);
}

nav:hover #nav-indicator {
	display: block;
}

nav a {
	text-align: left !important;
	float: left;
}

#nav-logo {
	width: 3%;
	margin-top: 13px;
	margin-left: 5px;
	transition: all 0.3s ease-in-out;
}

#nav-logo div {
	max-width: 100%;
	max-height: 100%;
	background-image: url(./../img/emblem-white-sm.png);
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
}

.kontakt-container div {
	background: RGBA(255, 255, 255, 0.4);
	border-radius: 10vh;
	padding: 0.1vh 4vh 0.1vh 4vh;
	font-size: 25px;
	color: var(--violet);
	transition: all 0.3s ease-in-out;
}

nav .kontakt-container div:hover {
	background: var(--violet-light);
}

.kontakt-container div:hover .logo-container {
	transform: rotate(30deg);
}

#nav-indicator {
	display: none;
	position: absolute;
	border-bottom: 5px solid var(--violet);
	bottom: 0 !important;
	transition: all 0.3s ease-in-out !important;
	z-index: -2000 !important;
}

/* UVOD */

#uvod {
}

#uvod img {
	top: 0;
	width: 100%;
}

#uvod-text {
	top: 75px;
	position: absolute;
	margin-left: 3vh;
	display: grid;
	grid-template-columns: 0.2fr 1.5fr 1.6fr;
	grid-template-rows: 0.3fr 2.3fr 0.4fr;
	gap: 0px 0px;
	grid-template-areas:
		'. . .'
		'. text .'
		'. . .';
}

#uvod-text div {
	grid-area: text;
}

#uvod-text div h2 {
	text-align: left;
}

#get-started-button {
	position: absolute;
	bottom: -7vh;
	width: 100%;
	display: grid;
	grid-template-columns: 1.8fr 0.3fr 1.8fr;
	grid-template-rows: 1fr;
	gap: 0px 0px;
	grid-template-areas: '. get-started .';
}

#get-started-button div {
	grid-area: get-started;

	background: var(--violet);
	border-radius: 10vh;
	font-size: 30px;
	transition: all 0.3s ease-in-out;
	justify-content: center;
}

#get-started-button div:hover {
	background: var(--violet-light);
}
/*! UVOD END !*/

/*! NABIDKA !*/

#nabidka {
	width: 100%;
	position: relative;
	z-index: 1;
}

#nabidka-okna {
	width: 100%;
	padding: 75px 5vw 0px 5vw;
	position: relative;
	z-index: 1;
}
.quick-desc {
	text-align: left !important;
}
.quick-desc h3 {
	font-size: 40px;
	color: var(--violet);
	margin: 0;
	font-weight: 900;
}
.quick-desc p {
	font-size: 20px;
	color: var(--text-gray);
}
.offers {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 75px;
}
.offers > .offer {
	height: 450px;
	width: 300px;
	background-color: var(--light-gray);
	padding: 15px;
	margin: 20px;
	cursor: pointer;
	border-radius: 15px;
	transition-duration: 0.5s;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.offer:hover {
	background-color: var(--violet);
	transform: translateY(-50px);
}

.offer:hover > .text > h5 {
	color: white;
}
.offer:hover > .text > p {
	color: white;
}
.offer > .img > img {
	height: 40px;
	width: 40px;
}
.offer > .img {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 20%;
}
.text > h5 {
	color: black;
}
.text > p {
	color: black;
	font-size: 20px;
}

/*SKEW*/

#nabidka-vyber {
	width: 100%;
	margin-top: -10vh;
	background: var(--violet-darker);
	transform: skewY(-5deg);
	transform-origin: top left;
	padding: 30vh 5vw 0px 5vw;
}

#nabidka-vyber > h1 {
	font-weight: 900 !important;
	text-align: center !important;
}

.unskewed {
	transform: skewY(5deg);
}

#nabidka-vyber > .option {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}
/*unskew bottom elemnt*/
#nabidka-vyber-bottom {
	bottom: 0;
	left: 0;
	position: absolute;
	width: 100%;
	height: 30vh;
	background: var(--violet-darker);
	z-index: -1;
}
/*SKEW END */

/*! NABIDKA END !*/

/*! PORTFOLIO !*/

#portfolio {
	background: #000;
	height: 100vh;
}

/*! PORTFOLIO END !*/

/*! CONTACT FORM INDEX !*/

#partneri {
	height: 50vh;
	position: relative;
	display: grid;
	grid-template-columns: 0.5fr 1.1fr 1.4fr;
	grid-template-rows: 0.3fr 2.4fr 0.3fr;
	gap: 0px 0px;
	grid-template-areas:
		'. . .'
		'. partneri .'
		'. . .';
}

#partneri div:nth-child(1) {
	grid-area: partneri;
	color: grey;
}

#partneri div:nth-child(2) {
	position: absolute;
	display: block;
	bottom: 0;
}

/*! CONTACT-FORM-INDEX END !*/

/*! FOOTER !*/

footer {
	height: 70vh;
	background: var(--violet-darker);
}

/*! FOOTER END !*/
/* KEYFRAMES */

@keyframes fromTop {
	from {
		margin-top: -100vh;
	}

	to {
		margin-top: 10vh;
	}
}

/** RESPO */

/* 9.1 XS (<576px) */
@media only screen and (max-width: 576px) {
}

/* 9.2 SM (>=576px) */
@media only screen and (min-width: 576px) {
}

/* 9.3 MD (>=768px) */
@media only screen and (min-width: 768px) {
}

/* 9.4 LG (>=992px) */
@media only screen and (min-width: 992px) {
}

/* 9.5 EL (>=1200px) */
@media only screen and (min-width: 1140px) {
}

/* Waves SVG*/

.custom-shape-divider-bottom-1610843841 {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
	transform: rotate(180deg);
	margin-bottom: 13px;
}

.custom-shape-divider-bottom-1610843841 svg {
	position: relative;
	display: block;
	width: calc(274% + 1.3px);
	height: 69px;
}

.custom-shape-divider-bottom-1610843841 .shape-fill {
	fill: #ffffff;
}
