@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
	color: white;
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}

:root {
	--violet: #4508bd;
	--violet-light: #5c09ff;
	--violet-dark: #310686;
	--violet-darker: #1b0050;
	--light-gray: #e7e7e7;
	--text-dark: #15052f;
	--text-light: #fff;
	--text-gray: #969696;
	--borderRadius: 5px;
}

html {
	scroll-behavior: smooth;
}

a,
a:hover,
a:visited,
a:active {
	text-decoration: none;
	color: #fff;
}

/* nadpisy v hero */
h1 {
	font-size: 45px;
	color: #fff;
	text-align: left;
}

/* nadpisy ve stránce */
h2 {
	font-size: 40px;
}

/* podnadpisy */
h3 {
	font-size: 40px;
}

li {
	list-style: none;
}

body {
	background-color: #fff;
}

.columns {
	margin: 0 !important;
}

.block-center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.flex-center {
	display: flex !important;
	align-items: center;
	justify-content: center;
}

/*? wat */
.columns {
	margin-left: 0;
}

/*! GLOBALS END !*/

/*! PRELOADER !*/

#preloader {
	background: var(--violet-dark);
	width: 100%;
	height: 100%;
	display: block;
	box-sizing: border-box;
}

#inner-circle {
	animation: innerCircle 3s ease;
	transform-origin: center;
	transform-box: fill-box;
}

#circular-path-1,
#circular-path-2 {
	opacity: 0;
}

#emblem-path-1 {
	transform-origin: center;
	transform-box: fill-box;
	-webkit-animation: moveCounterClockwise 5s linear infinite;
	animation: emblemPath1 5s linear infinite;
}

#emblem-path-2 {
	transform-origin: center;
	transform-box: fill-box;
	-webkit-animation: moveClockwise 5s linear infinite;
	animation: emblemPath2 5s linear infinite;
}

/*! PRELAODER  END!*/

/*! UVOD !*/

nav {
	color: black;
	background: none;
	top: 0;
	position: absolute;
	padding: 0;
	padding-top: 1.5vh;
	width: 100%;
	transition: all 0.3s ease-in-out;
	height: 75px;
	padding-right: 1vh;
	z-index: 1000;
	top: -10px;
}

nav a {
	transition: all 0.3s ease-in-out;
}

nav a div,
nav a span {
	transition: all 0.3s ease-in-out;
	padding-bottom: 10px;
}

nav div {
	float: right !important;
	font-size: 25px;
}

nav a span {
	font-size: 25px;
	text-align: center;
}

nav ul {
	margin-top: 13px;
}

nav select,
nav select option {
	background: none;
	border: none;
	font-size: 30px;
}

nav:hover {
	background: #fff;
}

nav:hover a div,
nav:hover a span {
	color: var(--violet);
}

nav a div:hover {
}

nav:hover .kontakt-container div {
	background: var(--violet);
	color: #fff;
}

nav:hover #nav-logo div {
	background-image: url(./../img/emblem-gradient-sm.png);
}

nav:hover #nav-indicator {
	display: block;
}

nav a {
	text-align: left !important;
	float: left;
}

#nav-logo {
	width: 3%;
	margin-top: 12px;
	margin-left: 15px;
	margin-right: 25px;
	transition: all 0.3s ease-in-out;
}

#nav-logo div {
	max-width: 100%;
	max-height: 100%;
	background-image: url(./../img/emblem-white-sm.png);
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
}

.kontakt-container div {
	background: RGBA(255, 255, 255, 0.4);
	border-radius: 10vh;
	padding: 0.1vh 4vh 0.1vh 4vh;
	font-size: 25px;
	color: var(--violet);
	transition: all 0.3s ease-in-out;
}

nav .kontakt-container div:hover {
	background: var(--violet-light);
}

.kontakt-container div:hover .logo-container {
	transform: rotate(30deg);
}

#nav-indicator {
	display: none;
	position: absolute;
	border-bottom: 5px solid var(--violet);
	bottom: 0 !important;
	transition: all 0.3s ease-in-out;
	z-index: -1;
}

/* UVOD */

.main-arrow {
	padding: 15px 15px 15px 15px;
}

#uvod {
	height: fit-content;
}

#uvod img {
	top: 0;
	width: 100%;
	height: 95vh !important;
}

#uvod-text {
	top: 125px;
	position: absolute;
	margin-left: 3vh;
	display: grid;
	grid-template-columns: 0.2fr 1.5fr 1.6fr;
	grid-template-rows: 0.3fr 2.3fr 0.4fr;
	gap: 0px 0px;
	grid-template-areas:
		'. . .'
		'. text .'
		'. . .';
}

#uvod-text div {
	grid-area: text;
}

#uvod-text div h1:nth-child(1) {
	text-align: left;
	font-size: 50px;
	resize: horizontal;
}
#uvod-text div h2:nth-child(2) {
	text-align: left;
	font-size: 35px;
	resize: horizontal;
}

#get-started-button {
	margin-top: -40px !important;
}

#get-started-button a {
	width: fit-content !important;
}

#get-started-button a div {
	background: var(--violet);
	border-radius: 35px;
	font-size: 30px;
	transition: all 0.3s ease-in-out;
	text-align: center;
}

#get-started-button div:hover {
	background: var(--violet-light);
}

.uvod-sub-pages img {
	width: 100%;
	height: 100%;
	display: block;
}

/*! UVOD END !*/

/*! NABIDKA !*/

#nabidka {
	width: 100%;
	position: relative;
	z-index: 1;
	overflow: hidden;
}

#nabidka-okna {
	width: 100%;
	padding: 75px 5vw 0px 5vw;
	position: relative;
	z-index: 1;
}
.quick-desc {
	text-align: left !important;
}

.quick-desc h2 {
	font-size: 40px;
	color: var(--violet);
	margin: 0;
	font-weight: 900;
}

.quick-desc p {
	font-size: 20px;
	color: var(--text-gray);
}

.cards {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	margin-top: 75px;
	margin-bottom: 75px;
}
.card-el {
	height: 400px;
	width: 400px;
	cursor: pointer;
	transition-duration: 0.5s;
	margin: 15px;
	overflow: hidden !important;
	padding: 15px;
	border-radius: 0.25rem;
	background-color: white;
	box-shadow: 0px 0px 50px #35353538 !important;
}

.card-el:hover {
	transform: translateY(-25px);
	background-color: var(--violet-light);
}
.card-el:hover > .card-text {
	transform: translateY(0px);
	transition-duration: 0.5s;
}
.card-text {
	transform: translateY(450px);
}
.card-img h2 {
	color: var(--violet);
	font-family: 'Montserrat', sans-serif;
	font-size: 25px;
	text-align: center;
	font-weight: 900;
}
.card-text p {
	text-align: center;
}
.card-icon {
	font-size: 150px;
	line-height: 100px;
	text-align: center;
	color: var(--violet);
}
.card-el:hover > .card-img > .card-icon {
	color: white !important;
}
.card-el:hover > .card-img > h2 {
	color: white;
}
.card-el:hover > .card-img {
	height: 75%;
}
.card-img {
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	transition-duration: 0.5s;
}

/*SKEW*/
.skewed-backg {
	position: absolute;
	top: 35%;
	z-index: -99999;
	background-color: var(--violet);
	width: 100%;
	height: 100%;
	transform: skewY(-5deg);
}
/*SKEW END */
/*! NABIDKA END !*/

/*! SOLUTIONS SELECT! */
.solutions {
	width: 100%;
	background-color: var(--violet);
	padding: 50px 0px 50px 0px;
}
.sol-text > h2 {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 40px;
	font-weight: 900;
}
/*! SOLUTIONS SELECT! END */

/*! PORTFOLIO !*/

#portfolio {
	background: #000;
	height: auto;
	padding: 0px 5vw 0px 5vw;
}
.splide {
	height: 80vh;
}
.splide__slide {
	width: 100%;
	height: 80vh;
}

.portfolio-text {
	padding: 25px;
}
.portfolio-text > h2 {
	color: var(--violet);
	font-weight: 900;
	font-size: 40px;
}
.portfolio-text > p {
	font-size: 20px;
}
.portfolio-btn {
	padding: 5px 15px 5px 15px;
	position: absolute;
	top: 65%;
	left: 50%;
	transform: translate(-50%, -50%) !important;
	color: white;
	background-color: var(--violet);
	border: solid var(--violet) 1px;
	border-radius: 15px;
	opacity: 0;
	transition-duration: 2s;
}

.splide__slide:hover > .portfolio-btn {
	opacity: 1;
	top: 50%;
}
.portfolio-btn:hover {
	color: white !important;
	background-color: var(--violet-light);
	border-color: var(--violet-light);
}
/*! PORTFOLIO END !*/

/*! PARTNERI !*/

#partneri {
	height: 15vh;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-evenly;
}
#partneri > img {
	height: 70px;
	/*width: auto;*/
	/*debug*/
	width: 70px;
	cursor: pointer;
}
/*! PARTNERI END!*/

/*! QUOTE !*/
#quote {
	padding: 0px 20vw 0px 20vw;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	margin-bottom: 25px;
}
.q-main > h1 {
	font-size: 40px;
	color: black !important;
	text-align: justify;
	font-weight: 800;
	font-style: italic;
}
#stfu {
	color: var(--violet) !important;
}
.q-sig {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: flex-end !important;
}
.q-sig > img {
	height: 50px;
	width: 50px;
	border-radius: 360px;
	margin: 15px;
}
.q-sig > p {
	color: var(--text-gray) !important;
	font-size: 20px;
}
/*! QUOTE END !*/
/*! ABOUT!*/

/*! STORY!*/
#story {
	width: 100%;
	background: var(--violet-dark);
}

#story-title div {
	margin-top: 10vh;
	margin-left: 7vh;
}

#story-title div h2 {
	color: #fff;
	font-size: 40px;
	font-weight: 900;
}

#story-title div p {
	font-size: 20px;
	color: #fff;
}
/*! STORY END!*/

/*! TECHNOLOGIE !*/

#technologie-title {
	margin-top: 5vh !important;
}

#technologie-title div h2 {
	color: var(--violet);
	font-size: 40px;
	font-weight: 900;
	text-align: center;
}

#technologie-title div p {
	font-size: 20px;
	color: var(--text-gray);
	text-align: center;
}

#technologie-main,
#technologie-secondary {
	display: flex;
	flex-direction: row;
}

#technologie-main .technologie-main-content {
	display: flex;
	flex-direction: column;
}

.technologie-main-titles {
	color: var(--violet);
	font-size: 45px;
	text-align: center;
}

.technologie-secondary-titles {
	color: var(--violet);
	font-size: 45px;
	text-align: center;
}

.technologie-secondary-content {
	text-align: center;
}

.technologie-secondary-content-col1 {
	margin-right: -300px !important;
}

.technologie-secondary-content-col3 {
	margin-left: -300px !important;
}

/*! TECHNOLOGIE END!*/

/*! ABOUT END!*/

/*! SLUZBY!*/
#nase-sluzby {
	background: var(--violet-darker);
}

#nase-sluzby-title {
	margin-top: 60px;
	margin-bottom: 40px;
	margin-left: 40px;
	font-size: 40px;
	color: #fff;
	font-weight: 900;
}

.nase-sluzby-img-container-container {
	display: flex;
	flex-direction: row;
}

.nase-sluzby-img-container {
}

.nase-sluzby-img,
.nase-sluzby-img-kokot {
	max-height: 75vh;
	text-align: center;
}

.nase-sluzby-img {
	position: absolute;
	z-index: 1000;
	box-shadow: 30px 30px 100px #000;
}

.nase-sluzby-img-kokot {
	display: flex;
	flex-direction: column;
	position: absolute;
	margin-left: 30px !important;
	margin-top: 30px !important;
	filter: blur(5px);
}

#nase-sluzby-content {
	margin-top: 80vh !important;
}
/*! SLUZBY END!*/

/*! FAQ!*/

.uvod-subpages {
	background: url(./../img/hero.webp) center no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: row;
}

.uvod-subpages.text {
	background: none;
	padding: 120px 0 0 0;
}

.uvod-subpages.text h1 {
	font-size: 80px;
	font-weight: 500;
	display: flex;
	flex-direction: column;
	text-align: center;
	margin-bottom: 9vh;
}

.uvod-subpages-faq.text h1 {
	margin-bottom: 0;
}

.uvod-subpages-faq.text p {
	font-size: 25px;
	display: flex;
	flex-direction: column;
	text-align: center;
	margin-bottom: 5vh;
}

#faq {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.faq-questions-container {
	display: flex;
	flex-direction: column;
}

.faq-questions {
	display: flex;
	flex-direction: row;
}

.faq-question {
	display: flex;
	flex-direction: column;
	border-radius: 5px;
	border: 2px RGBA(0, 0, 0, 0.1) solid;
	box-shadow: 0px 0px 50px #35353538 !important;
}

.faq-question h3 {
	color: var(--violet);
	font-size: 25px;
	font-weight: 900;
	display: inline;
}

.faq-icon-container,
.faq-icon-container i {
	display: inline;
	color: var(--violet);
	font-size: 25px;
	text-align: right;
	float: right;
	transition-duration: 0.5s;
}

.faq-icon {
	transition-duration: 0.5s;
}

.faq-icon-container:hover {
	cursor: pointer;
	transform: scale(1.1);
}

.faq-questions-content {
	overflow: hidden;
	max-height: 0;
	transition: all 0.5s ease-in-out;
	transition: max-height 1s ease-in-out;
}

.faq-show {
	max-height: 1000px;
}

.faq-question-text p {
	color: var(--violet-darker);
}

.faq-question-button a {
	color: var(--violet-darker);
	border-radius: 30px;
	border: 2px var(--violet-darker) solid;
	float: right;
	padding: 3px 7px 3px 7px;
}

.faq-question-button a div {
	color: var(--violet-darker);
}

.faq-question-button a {
	border-radius: 10rem;
	color: #fff;
	transition: all 0.3s;
	position: relative;
	overflow: hidden;
	z-index: 1;
}
.faq-question-button a:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 30px;
	z-index: -2;
}
.faq-question-button a:before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0%;
	height: 100%;
	background-color: var(--violet-darker);
	transition: all 0.3s;
	border-radius: 30px;
	z-index: -1;
}

.faq-question-button a:hover div {
	color: #fff;
}

.faq-question-button a:hover {
	color: #fff;
}
.faq-question-button a:hover:before {
	width: 100%;
}

/*! FAQ END!*/

/*! FOOTER !*/

footer {
	margin-top: 10vh;
	background: var(--violet);
	width: 100%;
	height: auto;
}

footer > .top-banner {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	background-color: var(--violet-darker);
	height: 15vh;
	width: 80vw;
	border-radius: 5px;
	padding: 40px;

	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.top-banner > h2 {
	color: white !important;
	font-weight: 800;
	letter-spacing: 1px;
	font-size: 25px;
}
.top-banner > p {
	color: white !important;
	text-align: center;
	margin: 0px 10% 0px 10%;
}
.top-banner > p > strong {
	color: white !important;
}
.top-banner > a {
	color: white;
	padding: 5px 15px 5px 15px;
	border: solid var(--violet) 2px;
	border-radius: 25px;
	transition-duration: 0.3s;
}
.top-banner > a:hover {
	background-color: var(--violet);
	color: white !important;
}
.upper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.upper > img {
	height: 50px;
	width: auto;
}
.upper > h3 {
	margin: 15px;
}
.socials {
	margin-top: 25px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;

	justify-content: space-around;
	gap: 25px;
}
.socials > a {
	font-size: 40px;
}
.nobody-cares {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	gap: 15px;
	align-items: center;
	margin-top: 50px;
	/* border-top: solid white 1px; */ /*? huh yay or nay */
}
.nobody-cares > a {
	color: var(--text-gray);
	text-decoration: none;
	margin: 10px;
}
.nobody-cares > a:hover {
	color: white !important;
}

/*! FOOTER END !*/
/* KEYFRAMES */

@keyframes kontaktButtonIcon {
	from {
		display: none;
		left: -50px;
	}
	to {
		display: block;
		left: 0;
	}
}

@keyframes emblemPath1 {
	from {
		transform: rotateZ(0deg);
	}
	to {
		transform: rotateZ(360deg);
	}
}

@keyframes emblemPath2 {
	from {
		transform: rotateZ(360deg);
	}
	to {
		transform: rotateZ(0deg);
	}
}

@keyframes innerCircle {
	from {
		transform: scale(0);
	}
	to {
		transform: scale(1);
	}
}

/** RESPO */

/* 9.1 XS (<576px) */
@media only screen and (max-width: 576px) {
}

/* 9.2 SM (>=576px) */
@media only screen and (min-width: 576px) {
}

/* 9.3 MD (>=768px) */
@media only screen and (min-width: 768px) {
}

/* 9.4 LG (>=992px) */
@media only screen and (min-width: 992px) {
}

/* 9.5 EL (>=1200px) */
@media only screen and (min-width: 1140px) {
}

/* Waves SVG*/

.custom-shape-divider-bottom-1610843841 {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
	transform: rotate(180deg);
	margin-bottom: 13px;
}

.custom-shape-divider-bottom-1610843841 svg {
	position: relative;
	display: block;
	width: calc(274% + 1.3px);
	height: 69px;
}

.custom-shape-divider-bottom-1610843841 .shape-fill {
	fill: #fff;
}
