<!DOCTYPE html>
<html lang="cs">

<!-- Tohle pak zakopem někde do kódu
       .--.       .--.
    _  `    \     /    `  _
     `\.===. \.^./ .===./`
            \/`"`\/
         ,  |     |  ,
        / `\|;-.-'|/` \
       /    |::\  |    \
    .-' ,-'`|:::; |`'-, '-.
        |   |::::\|   | 
        |   |::::;|   |
        |   \:::://   |
        |    `.://'   |
       .'             `.
    _,'                 `,_

I see you want to know more about our work.
Do you want to work with us? https://www.orexin.com/apply/easteregg
-->

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Web-development na míru | Orexin Solutions</title>
	<meta name="description" content="Profesionální, na míru realizovaný web-development.
			" />
	<meta name="keywords"
		content="web levně, web na míru, web-development, web-development Ostrava, web-development Frýdek-Místek, web Ostrava, web Frýdek-Místek" />
	<meta name="author" content="Orexin Solutions" />

	<!-- SOCIAL -->
	<meta property="og:type" content="article" />
	<meta property="og:title" content="Orexin Solutions" />
	<meta property="og:description" content="Realizujeme webové stránky, které přesně odrážejí vás a váš cíl" />
	<meta property="og:image" content="<%= require('./img/logos/logo-gradient.png') %>" />

	<!-- <link rel="canonical" href="https://orexinsolutions.com/" /> sets page as the main page and prevents other pages from indexing -->
	<link rel="shortcut icon" href="<%= require('./img/logos/logo-gradient-sm.png') %>" type="image/x-icon" />

	<!-- PWA -->
	<link rel="manifest" crossorigin="use-credentials" href="/../manifest.json">
</head>

<body>
	<!-- PRELOADER -->
	<div id="preloader" class="loading">
		<?xml version="1.0" encoding="UTF-8" standalone="no"?>
		<svg xmlns="http://www.w3.org/2000/svg" id="Layer_4" data-name="Layer 4" viewBox="0 0 215.002 215.002"
			width="215.002" height="215.002">
			<defs id="defs4">
				<style id="style2">
					.cls-1,
					.cls-2,
					.cls-3,
					.cls-4,
					.cls-5,
					.cls-6 {
						fill: none;
						stroke: #000;
						stroke-miterlimit: 10;
						stroke-width: 200px;
					}

					.cls-1,
					.cls-2,
					.cls-3,
					.cls-4,
					.cls-5 {
						stroke-linecap: round;
					}

					.cls-2 {
						stroke-dasharray: 11.36 11.36;
					}

					.cls-3 {
						stroke-dasharray: 12.15 12.15;
					}

					.cls-4 {
						stroke-dasharray: 12.01 12.01;
					}

					.cls-5 {
						stroke-dasharray: 12.11 12.11;
					}
				</style>
			</defs>
			<g id="emblem-path-2">
				<path class="cls-1" d="m 170.73595,34.278647 q 0.24295,0.215002 0.48591,0.423555" id="path8"
					style="fill:#ffffff;fill-opacity:0;stroke:#ffffff;stroke-width:21.5;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1" />
				<path class="cls-2" d="m 172.13562,35.511687 a 97.328442,97.328442 0 0 1 14.20737,15.90159" id="path10"
					style="fill:#ffffff;fill-opacity:0;stroke:#ffffff;stroke-width:21.5;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1" />
				<path class="cls-1" d="m 186.69559,51.912083 q 0.1849,0.262303 0.36981,0.528907" id="path12"
					style="fill:#fffffd;fill-opacity:0;stroke:#ffffff;stroke-width:21.5;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1" />
				<path class="cls-1" d="M 58.842159,23.876822 59.40009,23.554318" id="path14"
					style="fill:#fffffd;fill-opacity:0;stroke:#ffffff;stroke-width:21.5;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1" />
				<path class="cls-3"
					d="m 60.537454,22.90931 c 4.121961,-2.293872 8.428983,-4.295045 12.893027,-5.975536 10.598746,-3.989904 22.082646,-6.172109 34.076439,-6.172109 9.5723,-0.0077 19.09275,1.405224 28.25026,4.19255"
					id="path16"
					style="fill:#fffffd;fill-opacity:0;stroke:#ffffff;stroke-width:21.5;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1"
					sodipodi:nodetypes="cscc" />
				<path class="cls-1" d="m 136.38069,15.143417 0.61491,0.194578" id="path18"
					style="fill:#fffffd;fill-opacity:0;stroke:#ffffff;stroke-width:21.5;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1" />
				<path class="cls-1" d="m 129.191,201.82478 -0.62888,0.1419" id="path20"
					style="fill:#fffffd;fill-opacity:0;stroke:#ffffff;stroke-width:21.5;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1" />
				<path class="cls-4"
					d="m 127.30005,202.23759 a 97.13279,97.13279 0 0 1 -19.79313,2.0264 c -53.434594,0 -96.751163,-43.31657 -96.751163,-96.75116 a 96.358781,96.358781 0 0 1 9.941719,-42.768318"
					id="path22"
					style="fill:#fffffd;fill-opacity:0;stroke:#ffffff;stroke-width:21.5;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1" />
				<path class="cls-1" d="m 20.985579,64.166155 c 0.09675,-0.191352 0.193503,-0.383779 0.291329,-0.575132"
					id="path24"
					style="fill:#fffffd;fill-opacity:0;stroke:#ffffff;stroke-width:21.5;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1" />
				<path class="cls-1" d="m 201.74577,85.512686 q 0.072,0.312829 0.14405,0.627808" id="path26"
					style="fill:#fffffd;fill-opacity:0;stroke:#ffffff;stroke-width:21.5;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1" />
				<path class="cls-5"
					d="m 202.16718,87.410084 a 97.11774,97.11774 0 0 1 2.0909,20.102746 c 0,33.08029 -16.60143,62.28194 -41.92551,79.7294"
					id="path28"
					style="fill:#fffffd;fill-opacity:0;stroke:#ffffff;stroke-width:21.5;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1" />
				<path class="cls-1" d="m 161.79507,187.61096 -0.53751,0.36013" id="path30"
					style="fill:#fffffd;fill-opacity:0;stroke:#ffffff;stroke-width:21.5;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1" />
			</g>
			<g id="emblem-path-1">
				<path class="cls-1"
					d="m 159.06991,92.284193 a 53.785045,53.785045 0 0 1 2.18765,15.228637 c 0,29.6854 -24.06524,53.75064 -53.75064,53.75064 -29.685409,0 -53.750647,-24.06524 -53.750647,-53.75064 a 53.519517,53.519517 0 0 1 6.165199,-25.01878"
					id="path32"
					style="fill:#fffffd;fill-opacity:0;stroke:#ffffff;stroke-width:21.5;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1" />
				<path class="cls-1" d="M 92.934043,55.761704 A 53.881796,53.881796 0 0 1 137.5589,62.941716" id="path34"
					style="fill:#fffffd;fill-opacity:0;stroke:#ffffff;stroke-width:21.5;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1" />
			</g>
			<circle id="inner-circle" class="cls-6" cx="107.50692" cy="107.51283" id="circle36"
				style="fill:#fffffd;fill-opacity:0;stroke:#ffffff;stroke-width:21.5;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1"
				r="10.750129" />
		</svg>
	</div>

	<!-- SCROLLUP BUTTON -->
	<div id="scrollup-btn">
		<span class="typcn typcn-arrow-up-thick"></span>
	</div>

	<!-- NAV -->
	<navbar-wrapper></navbar-wrapper>

	<!-- UVOD -->
	<section id="uvod">
		<img src="<%= require('./img/hero.png') %>" alt="úvodní fotka" />
		<div id="uvod-text">
			<div>
				<h1 class="is-size-1">VAŠI TVÁŘ V ONLINE SVĚTĚ <wbr>VYBUDUJEME MY,</wbr></h1><br>
				<h2 class="is-size-3"> a vy tak můžete dělat to co vám jde nejlépe</h2>
			</div>
			<div></div>
		</div>
		<div id="get-started-button" class="columns is-centered">
			<a href="./index.html#nabidka" id="mainArrow">
				<span class="typcn typcn-arrow-down-thick"></span>
			</a>
		</div>
	</section>

	<!--NABIDKA-->
	<section id="nabidka">
		<div id="nabidka-okna">
			<div class="quick-desc">
				<h2>Proč se stát našim klientem?</h2>
				<p>Klient je pro nás vždy na prvním místě</p>
			</div>
			<div class="card-rows">
				<div class="cards">
					<div id="card-1" class="card-el">
						<div class="card-img">
							<span class="typcn typcn-credit-card card-icon"></span>
							<h2 id="pay"></h2>
						</div>
						<div class="card-text">
							<p>Cena podle návštěvnosti a dalších faktorů webu. Platíte jen za to, za co opravdu musíte.
							</p>
							<div class="see-also">
								<a href="#" class="fancy-btn-trans">Faktory</a>
								<a href="#" class="fancy-btn-trans">random</a>
							</div>
						</div>
					</div>
					<div id="card-2" class="card-el">
						<div class="card-img">
							<span class="typcn typcn-media-fast-forward-outline card-icon"></span>
							<h2 id="oldMan"></h2>
						</div>
						<div class="card-text">
							<p>Pro naše weby a aplikace používáme nejmodernější technologie, aby vše běželo, jak má.</p>
							<div class="see-also">
								<a href="#" class="fancy-btn-trans">Techstack</a>
								<a href="#" class="fancy-btn-trans">WEB 3.0</a>
							</div>
						</div>
					</div>
					<div id="card-3" class="card-el">
						<div class="card-img">
							<span class="typcn typcn-thumbs-up card-icon"></span>
							<h2 id="third"></h2>
						</div>
						<div class="card-text">
							<p>Web je po dokončení Váš a tím pádem si s ním můžete dělat co chcete, stačí říct.</p>
							<div class="see-also">
								<a href="#" class="fancy-btn-trans">Web jako NFT</a>
								<a href="#" class="fancy-btn-trans">Vaše práva</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
		<div class="skewed-backg">
			<!--JUST A PLACEHOLDER-->
		</div>
	</section>
	<section class="solutions">
		<div class="container">
			<div class="sol-text">
				<h2>Začněme s typem řešení</h2>
			</div>
			<div class="two-columns">
				<div class="flex-center flex-d-column">
					<div>
						<h2>Webová prezentace</h2>
						<p>Pokud počítače a internet nejsou zrovna vaše věc nebo potřebujete šetřit čas vyplníme obsah
							vaší stránky
							za
							vás. Stačí nám pouze poslat předlohy a materiály.</p>
						<a href="./services/web-pres.html" id="solutions-web-pres-btn" class="fancy-btn-trans">Dozvědět se více</a>
					</div>
				</div>
				<div id="svg-web-pres">
					<!-- svg -->
				</div>
			</div>
			<div class="two-columns">
				<div id="svg-web-app">
					<!-- svg -->
				</div>
				<div class="flex-center flex-d-column">
					<div>
						<h2>Webová aplikace</h2>
						<p>Pokud počítače a internet nejsou zrovna vaše věc nebo potřebujete šetřit čas vyplníme obsah
							vaší stránky
							za
							vás. Stačí nám pouze poslat předlohy a materiály.</p>
						<a href="./services/web-app.html" id="solutions-web-app-btn" class="fancy-btn-trans">Dozvědět se více</a>
					</div>
				</div>
			</div>
			<div class="two-columns">
				<div class="flex-center flex-d-column">
					<div>
						<h2>Ecommerce</h2>
						<p>Pokud počítače a internet nejsou zrovna vaše věc nebo potřebujete šetřit čas vyplníme obsah
							vaší stránky
							za
							vás. Stačí nám pouze poslat předlohy a materiály.</p>
						<a href="./services/ecommerce.html" id="solutions-ecommerce-btn" class="fancy-btn-trans">Dozvědět se
							více</a>
					</div>
				</div>
				<div id="svg-ecommerce">
					<!-- svg -->
				</div>
			</div>
		</div>
	</section>

	<!-- PORTFOLIO -->
	<section id="portfolio">
		<div class="portfolio-rows">
			<div class="row">
				<div class="ref">
					<img
						src="https://www.webfx.com/blog/images/cdn.designinstruct.com/files/379-design_agency_website_examples/design_agency_website_examples_04humcreative.jpg" />
					<div class="image-caption caption">
						<a href="#">Navštívit stránku <span class="typcn typcn-export"></span></a>
					</div>
				</div>
				<div class="ref">
					<img
						src="https://themeforest.img.customer.envatousercontent.com/files/330876517/02_theme-preview.jpg?auto=compress%2Cformat&fit=crop&crop=top&w=590&h=300&s=0c8eea43ab06d8c2102b7dbb6b3b1df0" />
					<div class="image-caption caption">
						<a href="#">Navštívit stránku <span class="typcn typcn-export"></span></a>
					</div>
				</div>
				<div class="ref">
					<img src="https://onelfri.com/wp-content/uploads/2015/11/future-of-web-design-adobe-muse-ideas-daily.png" />
					<div class="image-caption caption">
						<a href="#">Navštívit stránku <span class="typcn typcn-export"></span></a>
					</div>
				</div>
				<div class="ref">
					<img src="https://www.thebestdesigns.com/design-images/rabbet.com-1.jpg" />
					<div class="image-caption caption">
						<a href="#">Navštívit stránku <span class="typcn typcn-export"></span></a>
					</div>
				</div>
				<div class="ref">
					<img src="https://10web.io/blog/wp-content/uploads/sites/2/2019/03/banner-5.png" />
					<div class="image-caption caption">
						<a href="#">Navštívit stránku <span class="typcn typcn-export"></span></a>
					</div>
				</div>
			</div>
			<div class="row" id="secondRow">
				<div class="ref ref-notext">
					<a href="#">
						<img
							src="https://www.webfx.com/blog/images/cdn.designinstruct.com/files/379-design_agency_website_examples/design_agency_website_examples_01sputnikcreative.jpg" />
					</a>
				</div>
				<div class="ref ref-notext">
					<a href="#">
						<img
							src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSGCKmXYA5RlFCRuIzwKgIAHU1At9-xUt6XHFzh9C7Nxphi0_x2zQC-21vYkLsxlf59iiE&usqp=CAU" />
					</a>
				</div>
				<div class="ref ref-notext">
					<a href="#">
						<img
							src="https://blog.hubspot.com/hs-fs/hubfs/00-Blog-Related_Images/blog/images/Screen_Shot_2015-08-04_at_5.38.01_PM.png?width=667&height=352&name=Screen_Shot_2015-08-04_at_5.38.01_PM.png" />
					</a>
				</div>
				<div class="ref ref-notext">
					<a href="#">
						<img src="https://miro.medium.com/max/3200/0*sBUnRZPM8l39t3mh.png" />
					</a>
				</div>
				<div class="ref ref-notext">
					<a href="#">
						<img src="https://miro.medium.com/max/3200/0*dOFZTrnazSoKNBYD.png" />
					</a>
				</div>
			</div>
		</div>
	</section>

	<!-- PARTNERI -->
	<section id="partneri" class="container">
		<div class="quick-desc">
			<h2>Naši partneři</h2>
			<p>Protože týmová práce je základ úspěchu</p>
		</div>
		<div class="row">
			<img class="col"
				src="https://www.pngkey.com/png/full/129-1294048_hostoreas-youtube-channel-tagged-youtube-logoqyoutube-nimble-collective.png"
				alt="">
			<img class="col"
				src="https://www.pngkey.com/png/full/129-1294048_hostoreas-youtube-channel-tagged-youtube-logoqyoutube-nimble-collective.png"
				alt="">
			<img class="col"
				src="https://www.pngkey.com/png/full/129-1294048_hostoreas-youtube-channel-tagged-youtube-logoqyoutube-nimble-collective.png"
				alt="">
			<img class="col"
				src="https://www.pngkey.com/png/full/129-1294048_hostoreas-youtube-channel-tagged-youtube-logoqyoutube-nimble-collective.png"
				alt="">
			<img class="col"
				src="https://www.pngkey.com/png/full/129-1294048_hostoreas-youtube-channel-tagged-youtube-logoqyoutube-nimble-collective.png"
				alt="">
			<img class="col"
				src="https://www.pngkey.com/png/full/129-1294048_hostoreas-youtube-channel-tagged-youtube-logoqyoutube-nimble-collective.png"
				alt="">
		</div>
	</section>

	<!-- BLOG -->
	<section id="blog">
		<div class="container">
			<div class="quick-desc">
				<h2>Blog</h2>
				<p>Pomáhat je součást naší práce</p>
			</div>
			<div class="row"></div>
		</div>
	</section>

	<!-- QUOTE -->
	<section id="quote">
		<div class="q-main">
			<h2>Díky Orexinu a jeho řešení se můžu naplno věnovat svému byznysu a tomu, co mě baví, jelikož Orexin dělá
				většinu věcí za mě. <h2 id="stfu">Automaticky.</h2>
			</h2>
		</div>
		<div class="q-sig">
			<img
				src="https://images.pexels.com/photos/2598024/pexels-photo-2598024.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
				alt="">
			<p>Tvoje Mamka, Google s.r.o</p>
		</div>
	</section>

	<!-- FORM -->
	<section id="kontakt" class="services-contact-wrap container">
		<mini-contact></mini-contact>
	</section>

	<!-- FOOTER -->
	<footer-wrapper></footer-wrapper>

</body>

</html>