<!DOCTYPE html>
<html lang="cs">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Orexin Solutions | Ochrana osobních údajů</title>
	<meta name="description" content="Vaše data jsou u nás v bezpečí" />
	<meta name="author" content="Orexin Solutions" />

	<link rel="shortcut icon" href="<%= require('./img/logos/logo-gradient.png') %>" type="image/x-icon" />

	<!-- PWA -->
	<link rel="manifest" crossorigin="use-credentials" href="/../manifest.json">
</head>

<body>
	<!-- PRELOADER -->
	<div id="preloader">
		<?xml version="1.0" encoding="UTF-8" standalone="no"?>
		<svg xmlns="http://www.w3.org/2000/svg" id="Layer_4" data-name="Layer 4" viewBox="0 0 215.002 215.002"
			width="215.002" height="215.002">
			<defs id="defs4">
				<style id="style2">
					.cls-1,
					.cls-2,
					.cls-3,
					.cls-4,
					.cls-5,
					.cls-6 {
						fill: none;
						stroke: #000;
						stroke-miterlimit: 10;
						stroke-width: 200px;
					}

					.cls-1,
					.cls-2,
					.cls-3,
					.cls-4,
					.cls-5 {
						stroke-linecap: round;
					}

					.cls-2 {
						stroke-dasharray: 11.36 11.36;
					}

					.cls-3 {
						stroke-dasharray: 12.15 12.15;
					}

					.cls-4 {
						stroke-dasharray: 12.01 12.01;
					}

					.cls-5 {
						stroke-dasharray: 12.11 12.11;
					}
				</style>
			</defs>
			<title id="title6">Filda Logo2</title>
			<g id="emblem-path-2">
				<path class="cls-1" d="m 170.73595,34.278647 q 0.24295,0.215002 0.48591,0.423555" id="path8"
					style="fill:#ffffff;fill-opacity:0;stroke:#ffffff;stroke-width:21.5;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1" />
				<path class="cls-2" d="m 172.13562,35.511687 a 97.328442,97.328442 0 0 1 14.20737,15.90159" id="path10"
					style="fill:#ffffff;fill-opacity:0;stroke:#ffffff;stroke-width:21.5;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1" />
				<path class="cls-1" d="m 186.69559,51.912083 q 0.1849,0.262303 0.36981,0.528907" id="path12"
					style="fill:#fffffd;fill-opacity:0;stroke:#ffffff;stroke-width:21.5;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1" />
				<path class="cls-1" d="M 58.842159,23.876822 59.40009,23.554318" id="path14"
					style="fill:#fffffd;fill-opacity:0;stroke:#ffffff;stroke-width:21.5;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1" />
				<path class="cls-3"
					d="m 60.537454,22.90931 c 4.121961,-2.293872 8.428983,-4.295045 12.893027,-5.975536 10.598746,-3.989904 22.082646,-6.172109 34.076439,-6.172109 9.5723,-0.0077 19.09275,1.405224 28.25026,4.19255"
					id="path16"
					style="fill:#fffffd;fill-opacity:0;stroke:#ffffff;stroke-width:21.5;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1"
					sodipodi:nodetypes="cscc" />
				<path class="cls-1" d="m 136.38069,15.143417 0.61491,0.194578" id="path18"
					style="fill:#fffffd;fill-opacity:0;stroke:#ffffff;stroke-width:21.5;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1" />
				<path class="cls-1" d="m 129.191,201.82478 -0.62888,0.1419" id="path20"
					style="fill:#fffffd;fill-opacity:0;stroke:#ffffff;stroke-width:21.5;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1" />
				<path class="cls-4"
					d="m 127.30005,202.23759 a 97.13279,97.13279 0 0 1 -19.79313,2.0264 c -53.434594,0 -96.751163,-43.31657 -96.751163,-96.75116 a 96.358781,96.358781 0 0 1 9.941719,-42.768318"
					id="path22"
					style="fill:#fffffd;fill-opacity:0;stroke:#ffffff;stroke-width:21.5;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1" />
				<path class="cls-1" d="m 20.985579,64.166155 c 0.09675,-0.191352 0.193503,-0.383779 0.291329,-0.575132"
					id="path24"
					style="fill:#fffffd;fill-opacity:0;stroke:#ffffff;stroke-width:21.5;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1" />
				<path class="cls-1" d="m 201.74577,85.512686 q 0.072,0.312829 0.14405,0.627808" id="path26"
					style="fill:#fffffd;fill-opacity:0;stroke:#ffffff;stroke-width:21.5;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1" />
				<path class="cls-5"
					d="m 202.16718,87.410084 a 97.11774,97.11774 0 0 1 2.0909,20.102746 c 0,33.08029 -16.60143,62.28194 -41.92551,79.7294"
					id="path28"
					style="fill:#fffffd;fill-opacity:0;stroke:#ffffff;stroke-width:21.5;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1" />
				<path class="cls-1" d="m 161.79507,187.61096 -0.53751,0.36013" id="path20"
					style="fill:#fffffd;fill-opacity:0;stroke:#ffffff;stroke-width:21.5;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1" />
			</g>
			<g id="emblem-path-1">
				<path class="cls-1"
					d="m 159.06991,92.284193 a 53.785045,53.785045 0 0 1 2.18765,15.228637 c 0,29.6854 -24.06524,53.75064 -53.75064,53.75064 -29.685409,0 -53.750647,-24.06524 -53.750647,-53.75064 a 53.519517,53.519517 0 0 1 6.165199,-25.01878"
					id="path22"
					style="fill:#fffffd;fill-opacity:0;stroke:#ffffff;stroke-width:21.5;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1" />
				<path class="cls-1" d="M 92.934043,55.761704 A 53.881796,53.881796 0 0 1 137.5589,62.941716" id="path24"
					style="fill:#fffffd;fill-opacity:0;stroke:#ffffff;stroke-width:21.5;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1" />
			</g>
			<circle id="inner-circle" class="cls-6" cx="107.50692" cy="107.51283" id="circle36"
				style="fill:#fffffd;fill-opacity:0;stroke:#ffffff;stroke-width:21.5;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1"
				r="10.750129" />
		</svg>
	</div>

	<!-- NAV -->
	<navbar-wrapper></navbar-wrapper>

	<!-- HERO SUBPAGES -->
	<section class="uvod-subpages uvod-subpages-container">
		<div class="uvod-subpages uvod-subpages-title text container">
			<div class="column">
				<h1>Zásady ochrany osobních údajů</h1>
				<h2>Vaše soukromí je pro nás důležité, ne jak Zuckerčurák</h2>
			</div>
		</div>
	</section>

	<section id="privacy" class="article container">
		<div class="article-contents">
			<ol>
				<li>
					<a href="#one">Základní ustanovení</a>
				</li>
				<li>
					<a href="#two">Zdroje a kategorie zpracovávaných osobních údajů</a>
				</li>
				<li>
					<a href="#three">Zákonné důvody pro zpracovávání osobních údajů</h2>
					</a>
				</li>
				<li>
					<a href="#four">Účely zpracování, pro které jsou osobní údaje určeny:</a>
				</li>
				<li>
					<a href="#five">Doby uchovávání údajů</a>
				</li>
				<li>
					<a href="#six">Příjemci osobních údajů (subdodavatelé správce)</a>
				</li>
				<li>
					<a href="#seven">Práva klienta</a>
				</li>
				<li>
					<a href="#eight">Podmínky zabezpečení osobních údajů</a>
				</li>
				<li>
					<a href="#nine">Závěrečná ustanovení</a>
				</li>
			</ol>
		</div>
		<article>
			<p>
				Osobní údaje zpracováváme zejména za účelem rozvoje a udržování obchodních vztahů s našimi klienty nebo
				potenciálními partnery. Chceme budovat dlouhodobé a oběma stranám prospěšné obchodní vztahy a velmi nám záleží
				na tom, aby naše služby a produkty co nejvíce pomáhaly našim klientům rozvíjet jejich vlastní podnikání.
			</p>
			<ol class="ol-lvl-1">
				<li id="one">
					<h2>Základní ustanovení</h2>
					<ol class="ol-lvl-2">
						<li>
							<p>
								Správcem osobních údajů podle čl. 4 bod 7 nařízení Evropského parlamentu a Rady (EU)
								2016/679 o ochraně
								fyzických osob v souvislosti se zpracováním osobních údajů a o volném pohybu těchto údajů
								(dále jen:
								„GDPR”)
								je Orexin Solutions s.r.o. IČ 000000 se sídlem /adresa/ (dále jen „správce”).
							</p>
						</li>
						<li>
							<h2>Kontaktní údaje správce:</h2>
							<p>
								Název: Orexin Solutions s.r.o. <br>
								Sídlo: <br>
								IČ: <br>
								Zapsaná: (např: u Městského soudu v Praze, oddíl C, vložka 58549) <br>
								Telefon: <a href="tel:+420666-666-666" class="in-text-link">+420-666-666-666</a> <br>
								Email pro kontakt: <a href="mailto:kontakt@orexin.cz" class="in-text-link">kontakt@orexin.cz</a> <br>
								Email pro konverzaci s objednatelem s platnou smlouvou: <a href="mailto:podpora@orexin.cz"
									class="in-text-link">podpora@orexin.cz</a> <br>
								Kontaktní adresa: <br>
							</p>
						</li>
						<li>
							<p>Osobními údaji se rozumí veškeré informace o identifikované nebo identifikovatelné fyzické osobě;
								identifikovatelnou fyzickou osobou je fyzická osoba, kterou lze přímo či nepřímo identifikovat, zejména
								odkazem na určitý identifikátor, například jméno, identifikační číslo, lokační údaje, síťový
								identifikátor nebo na jeden či více zvláštních prvků fyzické, fyziologické, genetické, psychické,
								ekonomické, kulturní nebo společenské identity této fyzické osoby.</p>
						</li>
						<li>
							<p>Správce nejmenoval pověřence pro ochranu osobních údajů.</p>
						</li>
					</ol>
				</li>
				<li id="two">
					<h2>Zdroje a kategorie zpracovávaných osobních údajů</h2>
					<ol class="ol-lvl-2">
						<li>
							<p>Správce zpracovává osobní údaje, které mu klient poskytl nebo osobní údaje, které správce získal na
								základě plnění klient objednávky.</p>
						</li>
						<li>
							<p>Správce zpracovává klientovy identifikační a kontaktní údaje a údaje nezbytné pro plnění smlouvy.</p>
						</li>
					</ol>
				</li>
				<li id="three">
					<h2>Zákonné důvody pro zpracovávání osobních údajů</h2>
					<ol class="ol-lvl-2">
						<li>
							<p>Plnění smlouvy mezi klientem a správcem podle čl. 6 odst. 1 písm. b) GDPR.</p>
						</li>
						<li>
							<p>Oprávněný zájem správce na poskytování přímého marketingu (zejména pro zasílání informací o novinkách
								v našich službách a produktech, soutěží a dalších marketingových akcích správce) podle čl. 6 odst. 1
								písm. f) GDPR.</p>
						</li>
						<li>
							<p>Klientův souhlas se zpracováním pro účely poskytování přímého marketingu (zejména pro zasílání
								obchodních sdělení a newsletterů) podle čl. 6 odst. 1 písm. a) GDPR ve spojení s § 7 odst. 2 zákona č.
								480/2004 Sb., o některých službách informační společnosti v případě, že nedošlo k objednávce zboží,
								služby nebo díla.</p>
						</li>
					</ol>
				</li>
				<li id="four">
					<h2>Účely zpracování, pro které jsou osobní údaje určeny:</h2>
					<ol class="ol-lvl-2">
						<li>
							<p>Správce zpracovává osobní údaje za několika účely, které se liší zejména subjektem osobních údajů a
								vztahem, který má správce k subjektu údajů.</p>
						</li>
						<li>
							<p>Osobní údaje našich klientů jsou zpracovány za účelem plnění smluv o dodávkách zboží, služeb nebo díla.
								Zpracováváme pouze ty údaje, které jsou nezbytné pro plnění smluvních závazků a zákonných povinností z
								nich vyplývajících.</p>
						</li>
						<li>
							<p>Osobní údaje zaměstnanců jsou zpracovávány za účelem náboru a evidence našich zaměstnanců dle zákonných
								povinností.</p>
						</li>
						<li>
							<p>Zpracováváme také osobní údaje subjektů za účelem poskytování informací o novinkách v našich službách a
								produktech, soutěžích a dalších marketingových akcích správce.</p>
						</li>
						<li>
							<p>Ze strany správce nedochází / dochází k automatickému individuálnímu rozhodování ve smyslu čl. 22 GDPR.
								S takovým zpracováním jste poskytl/a svůj výslovný souhlas.</p>
						</li>
					</ol>
				</li>
				<li id="five">
					<h2>Doby uchovávání údajů</h2>
					<ol class="ol-lvl-2">
						<li>
							<p>Správce uchovává osobní údaje</p>
							<ul>
								<li>
									<p>po dobu nezbytnou k výkonu práv a povinností vyplývajících ze smluvního vztahu mezi klientem a
										správcem a uplatňování nároků z těchto smluvních vztahů (po dobu 15 let od ukončení smluvního
										vztahu),</p>
								</li>
								<li>
									<p>po dobu, než je odvolán souhlas se zpracováním osobních údajů pro účely marketingu, nejdéle 15 let,
										jsou-li osobní údaje zpracovávány na základě souhlasu.</p>
								</li>
							</ul>
						</li>
						<li>
							<p>Po uplynutí doby uchovávání osobních údajů správce osobní údaje vymaže.</p>
						</li>
					</ol>
				</li>
				<li id="six">
					<h2>Příjemci osobních údajů (subdodavatelé správce)</h2>
					<ol class="ol-lvl-2">
						<li>
							<p>Příjemci osobních údajů jsou osoby</p>
							<ul>
								<li>podílející se na dodání služeb, zboží nebo realizaci plateb na základě smlouvy,</li>
								<li>podílející se na zajištění provozu služeb,</li>
								<li>zajišťující marketingové služby.</li>
							</ul>
						</li>
						<li>
							<p>Osobní údaje, které jsou zpracovávány automatizovaně, mohou být předány třetím stranám (i do země mimo
								EU nebo mezinárodní organizaci) a to v nezbytných případech, abychom zajistili plnění našich obchodních
								závazků nebo rozvoj obchodních vztahů. Partnery, se kterými spolupracujeme, pečlivě vybíráme a
								kontrolujeme, zda garantují stejné principy a zásady ochrany osobních údajů jako naše společnost.
								Příjemci osobních údajů ve třetích zemích jsou poskytovatelé cloudových služeb. Níže je výčet
								zpracovatelů, se kterými spolupracujeme:</p>
							<ul>
								<li>---</li>
								<li>---</li>
								<li>---</li>
							</ul>
						</li>
					</ol>
				</li>
				<li id="seven">
					<h2>Práva klienta</h2>
					<ol class="ol-lvl-2">
						<li>
							<p>Za podmínek stanovených v GDPR má</p>
							<ul>
								<li>právo na přístup ke svým osobním údajům dle čl. 15 GDPR,</li>
								<li>právo opravu osobních údajů dle čl. 16 GDPR, popřípadě omezení zpracování dle čl. 18 GDPR,</li>
								<li>právo na výmaz osobních údajů dle čl. 17 GDPR,</li>
								<li>právo vznést námitku proti zpracování dle čl. 21 GDPR,</li>
								<li>právo na přenositelnost údajů dle čl. 20 GDPR,</li>
								<li>právo odvolat souhlas se zpracováním písemně nebo elektronicky na adresu nebo email správce uvedený
									v čl. I těchto podmínek.</li>
							</ul>
						</li>
						<li>
							<p>Dále má právo podat stížnost u Úřadu pro ochranu osobních údajů v případě, že se domnívá, že bylo
								porušeno jeho právo na ochranu osobních údajů.</p>
						</li>
					</ol>
				</li>
				<li id="eight">
					<h2>Podmínky zabezpečení osobních údajů</h2>
					<ol class="ol-lvl-2">
						<li>
							<p>Správce prohlašuje, že přijal veškerá vhodná technická a organizační opatření k zabezpečení osobních
								údajů.</p>
						</li>
						<li>
							<p>Správce přijal technická opatření k zabezpečení datových úložišť a úložišť osobních údajů v listinné
								podobě, zejména použití bezpečných systémů, bezpečné uložení šifrovaných záloh, bezpečná přístupová
								hesla a šifrování komunikace.</p>
						</li>
						<li>
							<p>Správce prohlašuje, že k osobním údajům mají přístup pouze jím pověřené osoby.</p>
						</li>
					</ol>
				</li>
				<li id="nine">
					<h2>Závěrečná ustanovení</h2>
					<ol class="ol-lvl-2">
						<li>
							<p>Odesláním objednávky z internetového kontaktního formuláře klient potvrzuje, že je seznámen s
								podmínkami ochrany osobních údajů a že je v celém rozsahu přijímá.</p>
						</li>
						<li>
							<p>S těmito podmínkami klient souhlasí zaškrtnutím souhlasu prostřednictvím internetového formuláře.
								Zaškrtnutím souhlasu potvrzuje, že je seznámen s podmínkami ochrany osobních údajů a že je v celém
								rozsahu přijímá.</p>
						</li>
						<li>
							<p>Správce je oprávněn tyto podmínky změnit. Novou verzi podmínek ochrany osobních údajů zveřejní na svých
								internetových stránkách, případně klient zašle novou verzi těchto podmínek na e-mailovou adresu, kterou
								jste správci poskytl.</p>
						</li>
						<li>
							<p>Tyto podmínky nabývají účinnosti dnem DD.MM.YYYY.</p>
						</li>
					</ol>
				</li>
			</ol>
		</article>
		<div class="downloads">
			<h2>Ke stažení:</h2>
			<ul>
				<li>
					<img src="<%= require('./img/icons/pdf.png') %>" alt="soubor pdf">
					<a href="./downloads/VOP.pdf" download>VOP platné do DD.MM.YYYY</a>
				</li>
				<li>
					<img src="<%= require('./img/icons/pdf.png') %>" alt="soubor pdf">
					<a href="./downloads/cenik.pdf" download>Ceník</a>
				</li>
				<li>
					<img src="<%= require('./img/icons/pdf.png') %>" alt="soubor pdf">
					<a href="./downloads/ochrana-osobnich-udaju.pdf" download>Zásady ochrany osobních údajů</a>
				</li>
			</ul>
		</div>
	</section>
	<!-- FOOTER -->
	<footer-wrapper></footer-wrapper>
</body>

</html>