@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
	color: white;
	font-size: 7vh;
	text-align: center;
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}

:root {
	--violet: #4508BD;
	--violet-light: #5C09FF;
	--violet-dark: #310686;
	--violet-darker: #1B0050;
}

a, a:hover, a:visited, a:active {
	text-decoration: none;
	color: inherit;
}

li {
	list-style: none;
}

body {
    background-color: #fff;
}

/* UVOD */

nav {
	color: black;
	background: none;
	top: 0;
	position: absolute;
	padding: 1vh;
	padding-top: 2vh;
	width: 100%;
}

nav div {
	float: right !important;
	font-size: 3vh;
}

.kontakt-container div{
	float: right;
	border: none;
	background: RGBA(255,255,255,0.4);
	border-radius: 10vh;
	padding: 0.1vh 4vh 0.1vh 4vh;
	font-size: 3vh;
	color: var(--violet-light);
	transition: all 0.3s ease-in-out;
}

.kontakt-container div:hover {
	background: #fff;
}

.kontakt-container div:hover .logo-container {
	transform: rotate(30deg);
}

#uvod img {
	top: 0;

}

#uvod-text {
	top: 75px;
	position: absolute;
	margin-left: 3vh;
	display: grid;
	grid-template-columns: 0.2fr 1.5fr 1.6fr;
	grid-template-rows: 0.3fr 2.3fr 0.4fr;
	gap: 0px 0px;
	grid-template-areas:
	  ". . ."
	  ". text ."
	  ". . .";
}

#uvod-text div {
	grid-area: text;
	
}

#uvod-text div h1{
	text-align: left;
	font-size: 6vh;
}

#uvod-text div h1 strong {
	color: #fff;
}

#uvod-text div h2{
	text-align: left;
}

/* NABIDKA */

#nabidka {
	background: var(--violet-dark);
}

#co-nabizime {
	background-color: #fff;
	height: 70vh;
	width: 100%;
}

footer {

}

@keyframes fromTop {
	from {
		margin-top: -100vh;
	}

	to {
		margin-top: 10vh;
	}
}

/** RESPO */

/* 9.1 XS (<576px) */
@media only screen and (max-width: 576px) {

}

/* 9.2 SM (>=576px) */
@media only screen and (min-width: 576px) {

}

/* 9.3 MD (>=768px) */
@media only screen and (min-width: 768px) {

}

/* 9.4 LG (>=992px) */
@media only screen and (min-width: 992px) {

}

/* 9.5 EL (>=1200px) */
@media only screen and (min-width: 1140px) {

}

/* Waves SVG*/

.custom-shape-divider-bottom-1610843841 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1610843841 svg {
    position: relative;
    display: block;
    width: calc(274% + 1.3px);
    height: 69px;
}

.custom-shape-divider-bottom-1610843841 .shape-fill {
    fill: #FFFFFF;
}