<!DOCTYPE html>
<html lang="cs">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Orexin Solutions | Obchodní podmínky</title>
	<meta name="description" content="Důležitá obchodní ustanovení a obchodní smlouva" />
	<meta name="author" content="Orexin Solutions" />

	<link rel="shortcut icon" href="<%= require('./img/emblem-gradient.png') %>" type="image/x-icon" />
</head>

<body>
	<!-- PRELOADER -->
	<div id="preloader">
		<?xml version="1.0" encoding="UTF-8" standalone="no"?>
		<svg xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#"
			xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg"
			xmlns="http://www.w3.org/2000/svg" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
			xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" id="Layer_4" data-name="Layer 4"
			viewBox="0 0 215.002 215.002" version="1.1" sodipodi:docname="logo-fix.svg" width="215.002" height="215.002"
			inkscape:version="1.0.2 (e86c870879, 2021-01-15)">
			<metadata id="metadata41">
				<rdf:RDF>
					<cc:Work rdf:about="">
						<dc:format>image/svg+xml</dc:format>
						<dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
						<dc:title>Filda Logo2</dc:title>
					</cc:Work>
				</rdf:RDF>
			</metadata>
			<sodipodi:namedview pagecolor="#ff93ff" bordercolor="#666666" borderopacity="1" objecttolerance="10"
				gridtolerance="10" guidetolerance="10" inkscape:pageopacity="0" inkscape:pageshadow="2"
				inkscape:window-width="1326" inkscape:window-height="742" id="namedview39" showgrid="false"
				inkscape:zoom="0.41153615" inkscape:cx="86.724481" inkscape:cy="10.642996" inkscape:window-x="40"
				inkscape:window-y="0" inkscape:window-maximized="1" inkscape:current-layer="Layer_4" />
			<defs id="defs4">
				<style id="style2">
					.cls-1,
					.cls-2,
					.cls-3,
					.cls-4,
					.cls-5,
					.cls-6 {
						fill: none;
						stroke: #000;
						stroke-miterlimit: 10;
						stroke-width: 200px;
					}

					.cls-1,
					.cls-2,
					.cls-3,
					.cls-4,
					.cls-5 {
						stroke-linecap: round;
					}

					.cls-2 {
						stroke-dasharray: 11.36 11.36;
					}

					.cls-3 {
						stroke-dasharray: 12.15 12.15;
					}

					.cls-4 {
						stroke-dasharray: 12.01 12.01;
					}

					.cls-5 {
						stroke-dasharray: 12.11 12.11;
					}
				</style>
			</defs>
			<title id="title6">Filda Logo2</title>
			<g id="emblem-path-2">
				<path class="cls-1" d="m 170.73595,34.278647 q 0.24295,0.215002 0.48591,0.423555" id="path8"
					style="fill:#ffffff;fill-opacity:0;stroke:#ffffff;stroke-width:21.5;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1" />
				<path class="cls-2" d="m 172.13562,35.511687 a 97.328442,97.328442 0 0 1 14.20737,15.90159" id="path10"
					style="fill:#ffffff;fill-opacity:0;stroke:#ffffff;stroke-width:21.5;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1" />
				<path class="cls-1" d="m 186.69559,51.912083 q 0.1849,0.262303 0.36981,0.528907" id="path12"
					style="fill:#fffffd;fill-opacity:0;stroke:#ffffff;stroke-width:21.5;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1" />
				<path class="cls-1" d="M 58.842159,23.876822 59.40009,23.554318" id="path14"
					style="fill:#fffffd;fill-opacity:0;stroke:#ffffff;stroke-width:21.5;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1" />
				<path class="cls-3"
					d="m 60.537454,22.90931 c 4.121961,-2.293872 8.428983,-4.295045 12.893027,-5.975536 10.598746,-3.989904 22.082646,-6.172109 34.076439,-6.172109 9.5723,-0.0077 19.09275,1.405224 28.25026,4.19255"
					id="path16"
					style="fill:#fffffd;fill-opacity:0;stroke:#ffffff;stroke-width:21.5;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1"
					sodipodi:nodetypes="cscc" />
				<path class="cls-1" d="m 136.38069,15.143417 0.61491,0.194578" id="path18"
					style="fill:#fffffd;fill-opacity:0;stroke:#ffffff;stroke-width:21.5;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1" />
				<path class="cls-1" d="m 129.191,201.82478 -0.62888,0.1419" id="path20"
					style="fill:#fffffd;fill-opacity:0;stroke:#ffffff;stroke-width:21.5;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1" />
				<path class="cls-4"
					d="m 127.30005,202.23759 a 97.13279,97.13279 0 0 1 -19.79313,2.0264 c -53.434594,0 -96.751163,-43.31657 -96.751163,-96.75116 a 96.358781,96.358781 0 0 1 9.941719,-42.768318"
					id="path22"
					style="fill:#fffffd;fill-opacity:0;stroke:#ffffff;stroke-width:21.5;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1" />
				<path class="cls-1" d="m 20.985579,64.166155 c 0.09675,-0.191352 0.193503,-0.383779 0.291329,-0.575132"
					id="path24"
					style="fill:#fffffd;fill-opacity:0;stroke:#ffffff;stroke-width:21.5;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1" />
				<path class="cls-1" d="m 201.74577,85.512686 q 0.072,0.312829 0.14405,0.627808" id="path26"
					style="fill:#fffffd;fill-opacity:0;stroke:#ffffff;stroke-width:21.5;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1" />
				<path class="cls-5"
					d="m 202.16718,87.410084 a 97.11774,97.11774 0 0 1 2.0909,20.102746 c 0,33.08029 -16.60143,62.28194 -41.92551,79.7294"
					id="path28"
					style="fill:#fffffd;fill-opacity:0;stroke:#ffffff;stroke-width:21.5;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1" />
				<path class="cls-1" d="m 161.79507,187.61096 -0.53751,0.36013" id="path30"
					style="fill:#fffffd;fill-opacity:0;stroke:#ffffff;stroke-width:21.5;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1" />
			</g>
			<g id="emblem-path-1">
				<path class="cls-1"
					d="m 159.06991,92.284193 a 53.785045,53.785045 0 0 1 2.18765,15.228637 c 0,29.6854 -24.06524,53.75064 -53.75064,53.75064 -29.685409,0 -53.750647,-24.06524 -53.750647,-53.75064 a 53.519517,53.519517 0 0 1 6.165199,-25.01878"
					id="path32"
					style="fill:#fffffd;fill-opacity:0;stroke:#ffffff;stroke-width:21.5;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1" />
				<path class="cls-1" d="M 92.934043,55.761704 A 53.881796,53.881796 0 0 1 137.5589,62.941716" id="path34"
					style="fill:#fffffd;fill-opacity:0;stroke:#ffffff;stroke-width:21.5;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1" />
			</g>
			<circle id="inner-circle" class="cls-6" cx="107.50692" cy="107.51283" id="circle36"
				style="fill:#fffffd;fill-opacity:0;stroke:#ffffff;stroke-width:21.5;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1"
				r="10.750129" />
		</svg>
	</div>

	<!-- NAV -->
	<navbar-wrapper></navbar-wrapper>

	<!-- UVOD SUBPAGES -->
	<section class="uvod-sub-pages">
		<img src="<%= require('./img/uvod-bg-blur-sm.png') %>" alt="" />
	</section>

	<!-- CONTENT -->
	<section id="terms-and-conditions" class="article container">
		<h1>Všeobecné obchodní podmínky</h1>
		<div>
			<ol>
				<li>
					<a href="./terms-and-conditions.html#zakladni-ustanoveni">
						<h3>Základní ustanovení</h3>
					</a>
				</li>
				<li>
					<a href="./terms-and-conditions.html#vymezeni-pojmu">
						<h3>Vymezení pojmů</h3>
					</a>
				</li>
				<li>
					<a href="./terms-and-conditions.html#smlouva">
						<h3>Uzavření, vznik, trvání a ukončení smlouvy</h3>
					</a>
				</li>
				<li>
					<a href="./terms-and-conditions.html#prava-a-povinnost">
						<h3>Všestranná práva a povinnosti</h3>
					</a>
				</li>
				<li>
					<a href="./terms-and-conditions.html#platebni-podminky">
						<h3>Platební podmínky a transakce</h3>
					</a>
				</li>
				<li>
					<a href="./terms-and-conditions.html#reklamace">
						<h3>Reklamace</h3>
					</a>
				</li>
				<li>
					<a href="./terms-and-conditions.html#odpovednost-za-ujmu">
						<h3>Odpovědnost za újmu</h3>
					</a>
				</li>
				<li>
					<a href="./terms-and-conditions.html#dusevni-vlastnictvi">
						<h3>Duševní vlastnictví</h3>
					</a>
				</li>
				<li>
					<a href="./terms-and-conditions.html#obchodni-sdeleni">
						<h3>Obchodní sdělení</h3>
					</a>
				</li>
				<li>
					<a href="./terms-and-conditions.html#ochrana-osobnich-udaju">
						<h3>Ochrana osobních údajů a související ustanovení</h3>
					</a>
				</li>
				<li>
					<a href="./terms-and-conditions.html#zaverecna-ustanoveni">
						<h3>Závěrečná ustanovení a odkazy</h3>
					</a>
				</li>
			</ol>
		</div>
		<div>
			<ol>
				<li id="zakladni-ustanoveni">
					<h2>Základní ustanovení</h2>
					<ol>
						<li>
							<p>Vymezení všeobecných obchodních podmínek (dále jen „VOP“) služeb Orexin Solutions s.r.o. (dále jen
								„poskytovatel“), které v souladu s ustanovením § 1751 odst. 1 zákona č. 89/2012 Sb., občanský zákoník,
								ve znění pozdějších předpisů (dále jen „občanský zákoník“) upravují vzájemná práva a povinnosti mezi
								poskytovatelem při poskytování služeb a objednatelem užívání služeb vzniklá v souvislosti nebo na
								základě:
								Smlouvy o provedení služeb (dále jen „SPS“)
								Rámcových smluv (dále jen “RS”)
								Dílčich smluv (dále jen “DS”)
								uzavřených mezi poskytovatelem a objednatelem. VOP jsou nedílnou součástí všech smluv uzavřených mezi
								poskytovatelem a objednatelem.
							</p>
						</li>
						<li>
							<h3>Kontaktní údaje</h3>
							<p>
								Název: Orexin Solutions s.r.o. <br>
								Sídlo: <br>
								IČ: <br>
								Zapsaná: (např: u Městského soudu v Praze, oddíl C, vložka 58549) <br>
								Telefon: <a href="tel:+420666-666-666" class="in-text-link">666666666</a> <br>
								Email pro kontakt: <a href="mailto:kontakt@orexin.cz" class="in-text-link">kontakt@orexin.cz</a> <br>
								Email pro konverzaci s objednatelem s platnou smlouvou: <a href="mailto:podpora@orexin.cz"
									class="in-text-link">podpora@orexin.cz</a> <br>
								Kontaktní adresa: <br>
							</p>
						</li>
						<li>
							<p>Ustanovení odchylná od VOP je možné sjednat ve smlouvě. Odchylná ujednání ve smlouvě mají přednost před
								ustanoveními VOP.</p>
						</li>
						<li>
							<p>Ustanovení VOP jsou nedílnou součástí smluv. VOP a smlouvy jsou vyhotoveny v českém jazyce. Smlouvy lze
								uzavřít v českém jazyce.</p>
						</li>
						<li>
							<p>Znění VOP může poskytovatel měnit či doplňovat. Tímto ustanovením nejsou dotčena práva a povinnosti
								vzniklá po dobu účinnosti předchozího znění VOP.</p>
						</li>
						<li>
							<p>Jsou-li ve smlouvě (popř. jejich dodatcích) a ve VOP ustanovení, která jsou ve vzájemném rozporu, mají
								ujednání ve smlouvě přednost před ustanoveními VOP.</p>
						</li>
					</ol>
				</li>
				<li id="vymezeni-pojmu">
					<h2>Vymezení pojmů</h2>
					<ol>
						<li>
							<h3>Poskytovatel</h3>
							<p>Poskytovatelem je obchodní společnost Orexin Solutions s.r.o.</p>
						</li>
						<li>
							<h3>Objednatel</h3>
							<p>Objednatelem je jakákoliv osoba, fyzická či právnická, která v souladu s těmito VOP užívá služeb
								Orexinu. Ustanovení těchto podmínek, stanovuje povinnosti objednatele při užívání služeb. Tato
								ustanovení a povinnosti jejich užívání se přiměřeně uplatní i na jakoukoliv jinou osobu, které
								objednatel umožní služby užívat.</p>
						</li>
						<li>
							<h3>Smlouva</h3>
							<p>Poskytovatel poskytuje služby vývoje a designu internetových stránek objednatele. Služby poskytovatele
								lze využít jak pro osobní tak i firemní použití. Při volbě webového řešení rozlišujeme vývoj webové
								prezentace, webové aplikace a ecommerce. Na základě výběru se poté odvíjí postup vývoje a celková cena.
							</p>
							<p style="margin-top: 10px;">Při uzavření smlouvy se jedná o jednu z následujících možností:</p>
							<ul>
								<li class="sub-ul">
									<p>Uzavření RS o dílo a licenčních, uzavíraných prostřednictvím internetových stránek poskytovatele.
									</p>
								</li>
								<li class="sub-ul">
									<p>Uzavření DS o vzárámcjemná práva a povinnosti mezi poskytovatelem a objednatelem vznikající na
										základě a v souvislosti s jednotlivými smlouvami uzavřenými na základě rámcové smlouvy, přičemž se
										jedná o:</p>
									<ul>
										<li class="sub-ul">
											<p>Licenční smlouvy o poskytnutí licence k počítačovému programu sloužícímu pro provoz internetové
												stránky objednatele.</p>
										</li>
										<li class="sub-ul">
											<p>Smlouvy o dílo a smlouvy licenční ohledně vytvoření grafických děl v elektronické podobě
												poskytovatelem (dále jen „grafická díla“) a ohledně poskytnutí licence ke grafickým dílům
												objednateli.</p>
										</li>
										<li class="sub-ul">
											<p>Smlouvy o dílo ohledně provedení programátorských úprav internetové stránky objednatele.</p>
										</li>
										<li class="sub-ul">
											<p>Smlouvy o dílo ohledně zajištění plnění obsahu internetové stránky objednatele z textových
												podkladů dodaných objednatelem poskytovateli.</p>
										</li>
										<li class="sub-ul">
											<p>Zprostředkovatelských smluv ohledně obstarání možnosti pro objednatele uzavřít licenční smlouvu
												s nositeli práv ke grafickým prvkům či fotografiím tvořícím součást grafických děl</p>
										</li>
									</ul>
								</li>
								<li class="sub-ul">
									<p>Uzavření SPS o provedení služeb nutných k řádné funkčnosti internetových stránek objednatele
										nezmíněných v RS nebo DS.</p>
								</li>
							</ul>
						</li>
						<li>
							<h3>Webová prezentace</h3>
							<p>Webová stránka určená pro prezentaci zájmu objednatele. S webovou prezentací se pojí i vytvoření
								databázového řešení pro data webové prezentace. Webová prezentace je spravovatelná v systému pro správu
								obsahu a je připojena k databázi.</p>
						</li>
						<li>
							<h3>Webová aplikace</h3>
							<p>Počítačový software uzpůsobený pro použití v prohlížeči. S webovou aplikací se pojí i vytvoření
								databázového řešení pro data webové aplikace. Webová aplikace je spravovatelná v systému pro správu
								obsahu a je připojena k databázi.</p>
						</li>
						<li>
							<h3>Ecommerce</h3>
							<p>Webová stránka určená pro realizaci internetového obchodu. S internetovým obchodem se pojí i vytvoření
								databázového řešení pro data internetového obchodu. Internetový obchod je spravovatelný v systému pro
								správu obsahu a je připojen k databázi.</p>
						</li>
						<li>
							<h3>Internetové stránky objednatele</h3>
							<p>Předmětem smlouvy je vyhotovení internetových stránek objednatele, kdy se může jednat o:</p>
							<ul>
								<li class="sub-ul">
									<p>Webovou prezentaci</p>
								</li>
								<li class="sub-ul">
									<p>Webovou aplikaci</p>
								</li>
								<li class="sub-ul">
									<p>Ecommerce</p>
								</li>
							</ul>
						</li>
						<li>
							<h3>Internetové stránky poskytovatele</h3>
							<p>Internetové stránky poskytovatele jsou <a href="#" class="in-text-link">www.orexin.cz</a></p>
						</li>
						<li>
							<h3>Zkušební doba</h3>
							<p>Zkušební doba je časové období v němž má objednatel právo vznést stížnosti na internetové stránky
								objednatele a jejich provedení. Zkušební doba trvá 1 měsíc a počítá se ode dne uzavření smlouvy. Po
								uplynutí zkušební doby a vyřešení všech podaných stížností na internetové stránky objednatele nabývá
								smlouva platnosti. Poskytovatel je povinen podané stížnosti vyřešit či opravit.</p>
						</li>
					</ol>
				</li>
				<li id="smlouva">
					<h2>Uzavření, vznik, trvání a ukončení smlouvy</h2>
					<ol>
						<li>
							<h2>Nabytí platnost smlouvy</h2>
							<p>Smlouva nabývá platnosti a účinnosti okamžikem její akceptace smluvními stranami, tj. po stvrzení
								podpisem nebo elektronickým podpisem. Smlouvu podepisuje účastník nebo osoba jím zmocněná na základě
								plné moci s úředně ověřenými podpisy (povinnost předložit plnou moc s úředně ověřenými podpisy platí
								také v případě veškerých změn objednaných služeb či při ukončení smlouvy a to i v případě manželů).</p>
						</li>
						<li>
							<h3>Nedílné součásti smlouvy</h3>
							<ol>
								<li>
									<p>Nedílnou součást smlouvy tvoří kromě smluvního formuláře rovněž:</p>
									<ul>
										<li class="sub-ul">
											<p>Technická specifikace služeb</p>
										</li>
										<li class="sub-ul">
											<p>VOP</p>
										</li>
										<li class="sub-ul">
											<p>Ceník služeb</p>
										</li>
										<li class="sub-ul">
											<p>Zásady zpracování osobních údajů dle GDPR</p>
										</li>
									</ul>
									<p>To vše dostupné na <a href="#" class="in-text-link">www.orexin.cz</a>.</p>
								</li>
							</ol>
						</li>
						<li>
							<h3>Právo neuzavřít smlouvu</h3>
							<p>Poskytovatel si vyhrazuje právo neuzavřít smlouvu, a to zejména s těmi osobami, které dříve smlouvu
								porušily.</p>
						</li>
						<li>
							<h3>Závazky vyplývající ze smlouvy</h3>
							<p>Na základě smlouvy se poskytovatel zavazuje poskytovat objednateli sjednané služby a objednatel se
								zavazuje poskytovat potřebnou součinnost a dodržovat povinnosti vyplývající ze smlouvy, především platit
								řádně a včas ceny za služby.</p>
						</li>
						<li>
							<h3>Způsob uložení smlouvy</h3>
							<p>Vzniklá smlouva, resp. daňový doklad, bude uložena v elektronickém archivu. Objednateli bude smlouva
								zaslána v elektronické podobě na požádání.</p>
						</li>
						<li>
							<h3>Uzavření smlouvy</h3>
							<ul>
								<li class="sub-ul">
									<h4>Uzavření smlouvy prostřednictvím komunikačních prostředků</h4>
									<p>Objednatel souhlasí s použitím komunikačních prostředků na dálku při uzavírání smlouvy. Smlouvu v
										tomto případě potvrzuje elektronickým podpisem. Náklady vzniklé objednateli při použití
										komunikačních prostředků na dálku v souvislosti s uzavřením smlouvy (náklady na internetové
										připojení, náklady na telefonní hovory) si hradí objednatel sám, přičemž poskytovatelem nejsou
										účtovány náklady nad rámec základní sazby poskytovatele komunikačních služeb objednatele.</p>
								</li>
								<li class="sub-ul">
									<h4>Uzavření nahrazující smlouvy</h4>
									<p>V případě, že smluvní strany uzavřou novou smlouvu nahrazující předchozí smlouvu, vzniklé finanční
										či jiné dluhy účastníka z předcházející smlouvy nezanikají, a řídí se přiměřeně podmínkami nové
										smlouvy (v takových případech se z účastníkem poskytnutých finančních plnění uhradí přednostně
										nejstarší pohledávky za účastníkem).</p>
								</li>
								<li class="sub-ul">
									<h4>Smlouva se uzavírá na dobu určitou</h4>
									<p>Smlouva se uzavírá na dobu určitou v délce jednoho roku, nesjednaly-li smluvní strany jinak.
										Kterákoliv smluvní strana je oprávněna nejpozději 5 pracovních dní před koncem smlouvy druhé smluvní
										straně sdělit, že trvá na ukončení smlouvy v době, na kterou byla sjednána, čímž vylučuje její
										automatické prodloužení. Objednatel je povinen toto sdělení učinit prostřednictvím emailu na adresu
										podpora@orexin.cz. V případě, že objednatel nesdělí poskytovateli svojí volbu nepokračovat dále ve
										smlouvě, projevuje tím vůli, že souhlasí s automatickým prodloužením smlouvy o dobu určitou, na
										kterou byla původně uzavřena (např. o měsíc, o rok a pod.), za podmínek, za kterých ji uzavřel.
										Uhrazení poplatku za službu proběhne automatickým stržením z platební karty zadané objednatelem při
										první objednávce. Poskytovatel o této automatické platbě objednatele upozorní emailem na adresu
										objednatele zadanou při první objednávce nejméně 5 pracovních dnů po uhrazení poplatku.</p>
								</li>
								<li class="sub-ul">
									<h4>Možnost vznést stížnost v prvním měsíci používání</h4>
									<p>Poskytovatel umožní objednateli po dobu trvání zkušební doby vznést stížnosti na funkcionalitu webu
										a další nesrovnalosti. Tato zkušební doba se nezapočítává do doby určité trvání smlouvy. V případě,
										že po uplynutí zkušební doby nevznese objednatel žádnou stížnost, nebo již byly všechny vznesené
										stížnosti řádně opraveny a vyřešeny akceptuje poskytovatel začátek doby určité trvání smlouvy.
									</p>
								</li>
								<li class="sub-ul">
									<h4>Případ kdy je objednatel považován za spotřebitele</h4>
									<p>V případě objednatelů, kteří jsou považováni za spotřebitele ve smyslu § 1751 občanského zákoníku,
										těmto objednatelům přísluší rovněž práva podle § 1810 a násl. občanského zákoníku.</p>
								</li>
							</ul>
						</li>
						<li>
							<h3>Ukončení smlouvy</h3>
							<ul>
								<li class="sub-ul">
									<h4>Ukončení smlouvy bez uvedení důvodu a výpovědní doba</h4>
									<p>Účastník i poskytovatel jsou oprávněni smlouvu kdykoliv zrušit i bez uvedení důvodu písemnou
										výpovědí. Výpovědní doba činí 30 dnů a začíná běžet dnem následujícím po dni, ve kterém byla výpověď
										doručena. Pro odstoupení od smlouvy může kupující využit <a href="#" class="in-text-link">vzorový
											formulář</a> poskytovaný
										prodávajícím,
										jenž tvoří přílohu obchodních podmínek. Výpověď musí být v případě jejího podání:</p>
									<ul>
										<li class="sub-ul">
											<p>Ze strany poskytovatele zaslána doporučenou poštou na adresu účastníka uvedenou účastníkem ve
												smlouvě.</p>
										</li>
										<li class="sub-ul">
											<p>Ze strany účastníka podána písemně na adrese ZC poskytovatele (tj. osobně na ZC nebo zaslána
												doporučenou poštou na adresu ZC).</p>
										</li>
									</ul>
								</li>
								<li class="sub-ul">
									<h4>Ukončení smlouvy s okamžitou účinností je možno z těchto důvodů:</h4>
									<ul>
										<li class="sub-ul">
											<p>V případě opakovaného nebo závažného neplnění smluvních podmínek ze strany objednatele.</p>
										</li>
										<li class="sub-ul">
											<p>Při prodlení objednatele s uhrazením ceny za služby delším než 2 měsíce.</p>
										</li>
										<li class="sub-ul">
											<p>V případě existence důvodného podezření, že objednatel zneužívá síť elektronických komunikací
												nebo užívá služby v rozporu se závaznými právními předpisy, zejména podporuje nebo umožňuje
												jakékoliv nelegální činnosti, nebo se do nich zapojuje, zasahuje do služeb poskytovaných jiným
												objednatelům, do sítě poskytovatele nebo do jiných sítí, nebo provozuje obtěžující činnost jako
												je rozesíláním spamů a podobně.</p>
										</li>
										<li class="sub-ul">
											<p>Při zřizování nebo změně služeb se zjistí, že služby nelze z objektivních příčin (technických
												důvodů) zřídit nebo při zřízení služeb, provádění změny služeb nebo při odstraňování poruch
												objednatel neposkytuje dostatečnou součinnost poskytovateli v souladu se smlouvou nebo se při
												poskytování služeb zjistí, že služby není možné řádně v souladu se smlouvou a VOP poskytovat.
											</p>
										</li>
										<li class="sub-ul">
											<p>V případě, že mu toto bude uloženo závazným rozhodnutím orgánu veřejné moci.</p>
										</li>
									</ul>
								</li>
								<li class="sub-ul">
									<h4>Ukončení smlouvy ze strany objednatele</h4>
									<p>V případě, že dojde k ukončení smlouvy z důvodů na straně objednatele, je objednatel povinen
										uhradit poskytovateli ukončovací poplatek ve výši dosud neuhrazeného poplatku za služby v počtu
										měsíců zbývajících do konce sjednané doby trvání smlouvy, případně další poplatky stanovené v
										ceníku.</p>
								</li>
								<li class="sub-ul">
									<h4>Zastavení poskytování služeb</h4>
									<p>Objednatel bere na vědomí, že poskytovatel po zániku smlouvy zastaví poskytování služeb.</p>
								</li>
								<li class="sub-ul">
									<h4>Vztahy práv a povinností před ukončením smluvního vztahu při vypovězení smlouvy</h4>
									<p>Vypovězením smlouvy nejsou dotčena práva a povinnosti stran vzniklá před ukončením smluvního
										vztahu, zejména právo poskytovatele na řádné uhrazení částek vyúčtovaných za poskytnuté služby,
										smluvních pokut, případného úroku z prodlení a nároku z náhrady škody způsobené poskytovateli
										objednatelem a povinnost objednatele dlužné částky řádně uhradit. Obnovení služby po jejím ukončení
										je možné, a to po vzájemné dohodě objednatele a poskytovatele.</p>
								</li>
								<li class="sub-ul">
									<h4>Ukončení smlouvy bez uvedení důvodu v 14 denní lhůtě od uzavření smlouvy</h4>
									<p>Od smlouvy uzavřené prostřednictvím prostředku komunikace na dálku má objednatel – spotřebitel
										právo dle ust. § 1829 a násl. občanského zákoníku ve lhůtě 14 dnů odstoupit, a to bez uvedení důvodu
										a bez jakékoliv sankce. Lhůta pro odstoupení od smlouvy začíná běžet uzavřením smlouvy. Nedílnou
										součástí VOP je poučení o možnosti odstoupení od smlouvy, ze kterého získá spotřebitel další
										informace o jeho právech v souvislosti s odstoupením od smlouvy.</p>
								</li>
								<li class="sub-ul">
									<h4>Poskytování služeb již ve lhůtě pro odstoupení</h4>
									<p>Začne-li poskytovatel dle smlouvy poskytovat objednateli služby ve lhůtě pro odstoupení, činí tak
										na základě výslovné žádosti objednatele a objednatel s tímto uzavřením smlouvy vyslovuje souhlas.
										Odstoupí-li objednatel od smlouvy a poskytovatel s plněním na základě výslovné žádosti objednatele
										učiněného při uzavření smlouvy začal před uplynutím lhůty pro odstoupení od smlouvy, uhradí
										objednatel poskytovateli poměrnou část sjednané ceny za plnění poskytnuté do okamžiku odstoupení od
										smlouvy.</p>
								</li>
							</ul>
						</li>
					</ol>
				</li>
				<li id="prava-a-povinnost">
					<h2></h2>
					<ol>
						<li>
							<p></p>
						</li>
					</ol>
				</li>
				<li id="platebni-podminky">
					<h2></h2>
					<ol>
						<li>
							<p></p>
						</li>
					</ol>
				</li>
				<li id="reklamace">
					<h2></h2>
					<ol>
						<li>
							<p></p>
						</li>
					</ol>
				</li>
				<li id="odpovednost-za-ujmu">
					<h2></h2>
					<ol>
						<li>
							<p></p>
						</li>
					</ol>
				</li>
				<li id="dusevni-vlastnictvi">
					<h2></h2>
					<ol>
						<li>
							<p></p>
						</li>
					</ol>
				</li>
				<li id="obchodni-sdeleni">
					<h2></h2>
					<ol>
						<li>
							<p></p>
						</li>
					</ol>
				</li>
				<li id="ochrana-osobnich-udaju">
					<h2></h2>
					<ol>
						<li>
							<p></p>
						</li>
					</ol>
				</li>
				<li id="zaverecna-ustanoveni">
					<h2></h2>
					<ol>
						<li>
							<p></p>
						</li>
					</ol>
				</li>
			</ol>
		</div>
	</section>

	<!-- FOOTER -->
	<footer-wrapper></footer-wrapper>
</body>

</html>